button,
input,
textarea {
  font: inherit;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
  color: inherit;
  background: transparent;
}

input,
textarea {
  line-height: 1;
  width: 100%;
  height: 100%;
  padding-right: $padding-width;
  padding-left: $padding-width;
  color: $input-default-text-color;
  border: 1px solid $input-default-border-color;
  border-radius: 3px;

  &::placeholder {
    opacity: 1;
    color: $input-default-placeholder-text-color;
  }

  &:hover {
    border-color: $input-default-hover-border-color;
  }

  &:focus {
    border-color: $input-default-focus-border-color;
  }

  &:disabled {
    cursor: not-allowed;
    background: $input-disabled-background;
  }

  &[readonly] {
    padding-left: 0;
    border: 0;
  }
}

input {
  height: $input-height;

  &[type='file'] {
    display: none;
  }
}

textarea {
  line-height: 1.3;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: vertical;
}

label {
  cursor: pointer;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
}
