table {
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  // min-width: 1024px;
  border-spacing: 0;
  text-align: left;
  border-collapse: collapse;
  background: $table-background;
}

thead {
  background: $thead-background;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, .03),
    inset 0 1px 0 0 $table-border-color;
}

tr {
  height: $table-row-height;
  border-bottom: 1px solid $table-border-color;

  //++
  &.no-results {
    cursor: default !important;
    text-align: center;
    background: $table-no-result-background;
  }

  &:hover {
    .table-cell__menu-list {
      visibility: visible;
      transition-delay: 0s; /* react immediately on hover */
      opacity: 1;
    }
  }
}

th {
  font-weight: 500;
  padding: 0 0 0 $gutter-width;
  color: $text-strong-color;
}

td {
  padding: 0 0 0 $gutter-width;

  > [data-decimal]::after {
    content: attr(data-decimal);
    color: $table-decimal-text-color;
  }

  &.add-pad-r {
    padding-right: $gutter-width;
  }
}

.td--no-left-padding {
  padding-left: 0;
}
