.entry {
  @include clearfix;

  font-size: 14px;
  line-height: 20px;
  margin-bottom: rhythm(2);

  &:last-child {
    margin-bottom: 0;
  }

  &--setting {
     .entry__title,
     .entry__rest {
      padding-top: 10px;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    float: left;
    width: calc-grids-width(2);
    margin-right: $gutter-width;
    display: block;

    &--required {
      color: $text-danger-color;

      &::after {
        content: ' *';
      }
    }

    &--full {
      float: none;
      display: block;
      width: 100%;
    }
  }

  &__content {
    float: left;
    width: calc-grids-width(4);
    margin-right: $gutter-width / 2;

    &--large {
      width: calc-grids-width(6);
      margin-right: 0;
    }

    &--xlarge {
      width: calc-grids-width(8);
      margin-right: 0;
    }

    &--small {
      width: calc-grids-width(3);
    }

    &--full {
       width: 100%;
       margin-right: 0;
    }

    &--readonly {
      height: $input-height;
      line-height: $input-height;
    }

    > address {
      font-style: normal;

      > span {
        display: block;
        margin-bottom: rhythm(1);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    > ul li {

      > strong {
        display: block;
      }

      em {
        font-style: normal;
        color: $text-strong-color;
        border-bottom: 1px solid darken($border-color,10);
      }
    }

    .attachment__files {
      .file {
        float: left;
        overflow: hidden;
        max-width: 90%;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    // extend width on open
    .select--extend {
      &.open {
        > .select__inner {
          width: calc-grids-width(4)-20px; // minus 20px contentbox padding
        }
      }
    }
  }

  &__rest {
    float: left;
  }
}

// nested entry
.entry--nested {
  margin-right: -1px;
  margin-left: -1px;

  > .entry__title {
    padding-left: $gutter-width;
  }

  > .entry__content {
    margin-right: 0;
    padding-right: $gutter-width;
  }

  > .entry__rest {
    padding-right: $gutter-width;
  }
}

// boxed entry
.entry--boxed {
  background: $header-background;
  border-radius: 4px;
  padding: rhythm(5) 0 rhythm(3);
  position: relative;

  .entry--setting .entry__title {
    padding-left: 20px;
  }

  .btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background: white;
    color: $text-soft-color;
    border: 1px solid $border-color;

    > .icon-close {
      vertical-align: inherit;
    }
  }
}

.entry-group {
  padding: rhythm(2) 0;
  margin-bottom: rhythm(2);

  &--info {
    color: $alert-info-color;
    background: $alert-info-background;
    border-bottom: 1px solid lighten($alert-info-border-color, 12);
    border-top: 1px solid lighten($alert-info-border-color, 12);
  }
}

.entry--services {
  margin-bottom: rhythm(3);

  > .entry__title {
    text-align: right;
  }
}

// terms and conditions entry has different margin
.entry--terms {
  margin-top: rhythm(1) * -1;
}

// special entry content for radio group lists
.entry__content--list {
  padding-top: 10px;
  padding-bottom: 10px;
}


// entry divider
.entry-divider {
  width: 100%;
  height: rhythm(4);
  margin: 0;
  border: 0;
  background: transparent;
}

// datils list
.details-list {
  padding-bottom: 20px;

  > li {
    @include clearfix;

    margin-bottom: rhythm(1);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: 500;
    float: left;
    width: calc-grids-width(2);
    padding-left: $padding-width;
    //line-height: rhythm(4);
  }

  &__content {
    display: block;
    // max-width: 270px; //++
    margin-left: calc-grids-width(2) + $padding-width;
    padding-right: $padding-width;
    overflow: hidden; //++
    text-overflow: ellipsis; //++
    white-space: nowrap;
  }

  // special size
  &--invoice {
    padding-top: rhythm(2);
    padding-bottom: rhythm(1);

    .details-list__content {
      padding-right: 25px;
    }

    .icon-cancel {
      margin-left: 3px;
    }
  }
}

// special width for status cards
.status-card .details-list__title,
.event-card .details-list__title {
  width: calc-grids-width(2) + $gutter-width*2;
}

// responsive
@include slicer(2) {
  .entry__title {
      margin-bottom: rhythm(.5);
  }

  .entry__rest {
    clear: both;
    margin-left: calc-grids-width(2) + $gutter-width;
  }

  .entry--setting {
    > .entry__rest {
      padding-top: 5px;
    }
  }

  .entry__content--list {
    padding-bottom: rhythm(1);

    + .entry__rest {
      margin-bottom: rhythm(3);
    }
  }

  .entry--services {
    > .entry__rest {
      clear: none;
      margin-left: 0;
    }

    > .entry__rest {
      max-width: calc(100% - #{calc-grids-width(2) + $gutter-width});
    }
  }

  .entry--boxed {
    .offset-2 {
      padding-left: 20px;
    }

    .btn-close {
      top: 10px;
      right: 10px;
      width: 24px;
      height: 24px;
      line-height: 24px;
    }
  }
}

@include slicer(2) {
  .entry {
    &__content {
      &--xlarge {
        float: none;
        width: 100%;
        padding-right: 20px;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

@include slicer(3) {
  .entry {
    margin-bottom: rhythm(2.5);

    &__title,
    &__content,
    &__rest {
      float: none;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .entry--setting {
    > .entry__title {
      padding-top: 0;
    }
  }

  .entry--nested {
    > .entry {
      &__title,
      &__content,
      &__rest {
        padding: 0 $gutter-width / 2;
      }
    }
  }

  .entry--services {
    > .entry__title {
      text-align: left;
    }

    > .entry__rest {
      max-width: 100%;
    }
  }

  .entry--terms {
    margin-top: 0;
  }

  .entry--boxed {
    .entry__content,
    .entry__rest,
    .entry--setting .entry__title {
      padding-right: $gutter-width / 2;
      padding-left: $gutter-width / 2;
    }
  }

  // details list
  .details-list {
    padding-bottom: rhythm(2);

    &--invoice {
      padding-top: 0;
      padding-bottom: 0;
    }

    > li {
      margin-bottom: rhythm(1.5);
    }

    &__title {
      display: block;
      float: none;
      width: 100%;
      padding: 0 $gutter-width / 2;
    }

    &__content {
      max-width: 100%;
      margin-left: 0;
      padding: 0 $gutter-width / 2;
    }
  }
}
