.dropdown {
  position: relative;

  &__menu {
    @include dropdown-close;

    position: absolute;
    z-index: 100;
    top: 100%;
    width: 220px;
    padding: rhythm(.5) 0;
    border: 1px solid $dropdown-border-color;
    border-radius: 3px;
    background: $dropdown-menu-background;
    box-shadow: 0 0 5px 0 $dropdown-menu-box-shadow-color;

    &--to-top {
      top: auto;
      bottom: calc(100% + #{rhythm(1)});
      transform-origin: 0 100%;
    }

    &--align-right {
      right: 0;
      left: auto;
    }
  }

  // dropdown open
  &.open > .dropdown__menu {
    @include dropdown-open;
  }

  // dropdown title
  &__title {
    margin-bottom: rhythm(1);
    padding: 0 $padding-width;

    > span {
      font-size: 11px;
      font-weight: 500;
      line-height: 16px;
      display: block;
      padding: rhythm(1.5) 0;
      text-transform: uppercase;
      letter-spacing: .05em;
      color: $dropdown-title-color;
      border-bottom: 1px solid $dropdown-border-color;
    }
  }
}

.dropdown-list {
  overflow-y: auto;

  li {
    line-height: rhythm(2);
    padding: rhythm(1.5) $padding-width;
    cursor: pointer;
    border-bottom: 1px solid $dropdown-border-color;

    &:hover {
      background: $dropdown-entry-hover-background;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.dropdown-select {
  overflow-y: auto;
  margin-bottom: rhythm(1);

  > li {
    line-height: rhythm(2);
    height: rhythm(4);
    padding: rhythm(1) $padding-width;
    cursor: pointer;

    &:hover {
      background: $dropdown-entry-hover-background;
    }

    &.selected {
      font-weight: 500;
      position: relative;
      background: $dropdown-entry-selected-background;

      &::after {
        float: right;
        content: url('/assets/images/check.svg');
      }
    }

    &:not(:first-child).divided {
      border-top: 1px solid $dropdown-border-color;
    }
  }
}

// dropdown buttons
.dropdown-btns {
  > li {
    border-bottom: 1px solid $dropdown-border-color;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.dropdown-btn {
  font-size: 14px;
  line-height: 20px;
  position: relative;
  display: block;
  width: 100%;
  padding: rhythm(1.5) $padding-width rhythm(1.5) ($padding-width + 24px);
  text-align: left;
  color: $dropdown-btn-default-color;

  &:hover {
    background: $dropdown-btn-hover-background;
  }

  > svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: $padding-width;
    margin: auto;
    fill: $dropdown-btn-default-icon-color;
  }

  &--primary {
    color: $dropdown-primary-btn-color;

    > svg {
      fill: $dropdown-primary-btn-color;
    }
  }

  &--danger {
    color: $dropdown-danger-btn-color;

    > svg {
      fill: $dropdown-danger-btn-color;
    }
  }
}
