.input-block {
  display: table;
  width: 100%;
  border-collapse: separate;

  &__input {
    display: table-cell;
    width: 100%;
    border-radius: 0;

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }

    &--centered {
      padding: 0;
      text-align: center;
    }
  }

  &__addon {
    display: table-cell;
    //width: 1%;
    width: 1px;
    white-space: nowrap;
    padding: 0 15px;
    vertical-align: middle;
    border: 1px solid $input-default-border-color;
    background: $input-addon-background;

    &:first-child {
      border-right: 0;
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-left: 0;
      border-radius: 0 3px 3px 0;
    }
  }

  &__button {
    display: table-cell;
    width: 1px;
    vertical-align: middle;
    white-space: nowrap;

    .btn {
      border-radius: 0 3px 3px 0;
      border-left: none;
    }
  }
}
