.tooltip {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  color: $tooltip-color;

  > svg {
    fill: $tooltip-icon-color;
    margin-right: 2px;
  }

  > span {
    line-height: 1.3;
    cursor: default; //++
  }

  //++
  &--no-text {
    cursor: pointer;
    line-height: rhythm(2);

    &::before {
      left: -10px !important;
    }

    &::after {
      left: 1px !important;
    }
  }

  &--text {
    margin-top: rhythm(1);
  }

  &--inform {
    color: $default-text-color;

    a {
      @extend .text--link;
    }
  }

  &--message {
    position: relative;
    z-index: 100;

    // message box
    &::before {
      @include tooltip-close;

      line-height: 16px;
      position: absolute;
      bottom: calc(100% + #{rhythm(1)});
      left: 8px;
      width: 230px;
      padding: $padding-width;
      content: attr(data-message);
      text-align: left;
      color: $tooltip-message-box-color;
      border-radius: 3px;
      background: $tooltip-message-box-background;
    }

    // triangle
    &::after {
      @include tooltip-close;

      position: absolute;
      top: rhythm(1) * -1;
      left: 25px;
      width: 0;
      height: 0;
      content: '';
      border-top: 6px solid $tooltip-message-box-background;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }

    &__copy-link {
      &::before {
        max-width: 80px;
        left: 50%;
        margin-left: -40px;
        text-align: center;
        padding: $padding-width/2;
      }

      &::after {
        left: 50%;
        margin-left: -6px;
      }
    }

    &:hover {
      &::before,
      &::after {
        @include tooltip-open;
      }
    }

    > span {
      border-bottom: 1px solid $tooltip-text-underline;
    }
  }
}

// special cases
.btn.tooltip--message > span {
  border: none;
}
