.line-items {
  margin-top: rhythm(3);
  border-collapse: separate;

  &.table-wrap {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .th-align--right,
  .td-align--right {
    padding: 0 20px 0 0;
    text-align: right;
  }

  thead th:last-child {
    padding:0 20px 0 0;
    text-align: right;
  }

  &__full-tr {
    vertical-align: top;
    border-bottom: 0;

    > td {
      padding-bottom: rhythm(2);
    }

    &:first-child > td {
      padding-top: rhythm(2);
    }

    + .line-items__half-tr {
      border-bottom: 0;
    }
  }

  &__half-tr {
    height: 56px;
    vertical-align: middle;

    &:nth-last-child(2),
    &:last-child {
      border-bottom: 0;
    }

    > td:not(.line-items__add-new-line) {
      padding-top: rhythm(1);
      padding-bottom: rhythm(1);
    }
  }

  &__spacer {
    height: auto;
    border-bottom: 0;
  }

  &__totals {
    height: 32px;
    vertical-align: middle;
    border-bottom: 0;

    td {
      padding: 0 20px 0 0;
      text-align: right;
    }
  }

  &__amount-total {
    height: 48px;
  }

  &__add-new-line {
    padding-top: (56px - 16) / 2; // 56 tr height, 16 text line-height
    vertical-align: top;
  }

  &__header-td-top {
    font-weight: 500;
    background: $alert-info-background;
    box-shadow: 0 1px 0 0 $table-border-color;
  }

  &__header-td-bottom {
    font-weight: 500;
    background: $alert-info-background;
    box-shadow: 0 -1px 0 0 $alert-info-border-color;
  }

  &__textarea {
    height: rhythm(10);
  }

  &__input-help {
    display: block;
    margin-top: 4px;

    &--right {
      text-align: right;
    }
  }

  &__amount-input {
    padding: 0 20px 0 0;
    text-align: right;
    border: 0;
    background: transparent;

    &--bold {
      font-weight: 500;

      &::placeholder {
        font-weight: 400;
      }
    }

    + .line-items__input-help {
      padding: 0 20px 0 0;
      text-align: right;
    }
  }

  &__discount-tr {
    vertical-align: top;
  }

  &__add-discount-btn {
    display: block;
    width: 100%;
    padding: 0;
  }

  &__dropdown {
    > .dropdown__trigger {
      line-height: 40px;

      > .icon-arrow--small {
        margin-left: 5px;
      }
    }
  }
}


// delete button
.line-items {
  &__delete-btn-wrap {
    position: relative;
  }

  &__delete-btn {
    position: absolute;
    z-index: 10;
    left: -30px;
    color: $text-danger-color;

    > span {
      display: none;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__full-tr {
    .line-items__delete-btn {
      top: rhythm(1);
    }
  }

  &__half-tr .line-items__delete-btn {
    top: rhythm(1.5);
  }
}

// search line items
.line-search-item {
  position: relative;

  &__dropdown {
    position: absolute;
    z-index: 100;
    top: 100%;
    right: 0;
    left: 0;
    overflow-y: auto;
    margin-top: rhythm(1);
    padding: rhythm(1) 0;
    border: 1px solid $dropdown-border-color;
    border-radius: 3px;
    background: $color-white;
    box-shadow: 0 0 5px 0 $dropdown-menu-box-shadow-color;
  }

  &__entry {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 20px;
    color: $dropdown-btn-default-color;

    &:not(:last-child) {
      border-bottom: 1px solid $section-border-color;
    }

    &:hover {
      background: $dropdown-btn-hover-background;
      cursor: pointer;
    }
  }

  &__name {
    font-weight: 500;
  }

  &__ref {
    font-size: 13px;
  }
}

// responsive styles
@media (min-width: 1201px) {
  .line-items {
    overflow: visible !important;
  }
}

@media (max-width: 1200px) {
  .line-items__delete-btn {
    position: static;
    display: block;
    margin-top: rhythm(1);
    padding: 0 !important;

    > span {
      display: inline;
    }
  }
}
