.attachment {
  &__files {

    > li {
      line-height: 32px;
      margin-bottom: 0;

      &:first-child {
        padding-top: 4px;
      }

      &:last-child {
        margin-bottom: rhythm(1);
      }
    }
  }

  &__upload,
  &__remove {
    float: right;
  }

  &__form {
    position: relative;

    &__control {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

// responsive
@include slicer(3) {
  .attachment {
    &__remove {
      float: left;
      margin-left: $gutter-width;
    }
  }
}
