.sidebar-message {
  position: fixed;
  z-index: 1000;
  top: rhythm(10); // header height
  right: 0;
  bottom: 0;
  left: auto;
  width: 100%;
  max-width: 400px;
  padding-bottom: 80px; // sticky footer height
  border-left: 1px solid $input-default-border-color;
  background: $color-white;

  &__body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__close {
    position: absolute;
    top: 12px;
    left: -52px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: $color-white;
    border-radius: 3px;
    background: #909699;
    box-shadow: inset 0 0 0 1px #888B8C;

    > span {
      display: none;
    }

    &:hover {
      background: darken(#909699, 10%);
    }
  }

  &-trigger {
    font-size: 14px;
    line-height: 38px;
    display: none;
    margin-left: rhythm(2);

    &--edit-order {
      margin-top: -3px;
    }
  }

  &__tabs {
    display: flex;
    flex: none;
    justify-content: space-between;
    height: rhythm(7);
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: inset 0 -1px 0 $message-tabs-border-color;
  }

  &__tab {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $message-tab-color;

    &.active {
      color: $message-tab-active-color;
      box-shadow: inset 0 -2px 0 $message-tab-active-color;
    }
  }

  &__panes {
    overflow: auto;
    flex: 1;
    -webkit-overflow-scrolling: touch;
  }

  &__pane {
    display: none;
    padding: rhythm(2) 20px;

    &-members {
       padding: rhythm(2) 0;
    }

    &.show {
      display: block;
    }
  }

}


// Notifications Pane
.message-notifications {
  position: relative;
  padding-left: 4px;

  &::before {
    position: absolute;
    top: 8px;
    bottom: 24px;
    width: 2px;
    content: '';
    background: $notifaction-line-color;
  }
}

.message-notification {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;

  &::before {
    position: absolute;
    z-index: 2;
    top: 4px;
    left: -4px;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 50%;
    background: currentColor;
    box-shadow: 0 0 0 1px $message-panes-background;
  }

  &--waiting {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    color: $label-waiting-color;

    &::after {
      position: absolute;
      z-index: 0;
      top: -20px;
      right: -10px;
      bottom: -20px;
      left: -15px;
      content: '';
      border-radius: 3px;
      background: $color-white;
      box-shadow: inset 0 0 0 1px $status-waiting-card-border-color;
    }
  }

  &--completed {
    color: $label-pending-color;
  }

  &--approved {
    color: $label-approved-color;
  }

  &--new-order {
    color: $notifaction-new-order-color;

    &::before {
      background: $notifaction-new-order-indicator-color;
    }
  }

  > strong {
    font-size: 14px;
    line-height: rhythm(2);
    position: relative;
    z-index: 2;
    display: block;
    color: currentColor;
  }

  > time {
    font-size: 12px;
    line-height: rhythm(2);
    display: block;
    margin-top: rhythm(.5);
    text-transform: uppercase;
    color: $notifaction-time-color;
  }
}

// Members Pane
.members {
    &-section {
      padding: 0 20px rhythm(2);
      border-bottom: 1px solid $input-default-border-color;

      + .members-section {
        padding-top: rhythm(2);
      }

      &__invite {
        display: block;
        width: 100%;
        margin-top: rhythm(4);
      }
    }

    &-title {
      font-size: 16px;
      line-height: rhythm(3);
      margin-bottom: rhythm(2);
      color: $default-title-color;

      > small {
        font-size: 14px;
      }
    }

    &-message {
      margin-bottom: rhythm(2);

      .tooltip {
        display: block;
        margin-bottom: rhythm(2);
      }
    }
}

.member {
  display: flex;
  align-items: center;
  margin-bottom: rhythm(2);

  &:last-child {
    margin-bottom: 0;
  }

  &__avatar {
    align-self: center;
    flex: none;
    margin-right: 10px;


    &-user {
      font-size: 12px;
      line-height: 32px;
      width: 32px;
      height: 32px;
      padding-left: 1px;
      text-align: center;
      letter-spacing: .5px;
      color: $color-white;
      border-radius: 50%;
      background: $icon-default-color;
    }

    &-state {
      position: relative;

      &::before {
        position: absolute;
        z-index: 1;
        top: -2px;
        right: -2px;
        width: 10px;
        height: 10px;
        content: '';
        border-radius: 50%;
        background: $label-waiting-color;
        box-shadow: 0 0 0 2px $message-panes-background;
      }
    }

    &-img {
      display: block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: $member-avatar-placeholder-color;
    }
  }

  &__details {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }

  &__name {
    color: $default-text-color;
  }

  &__approved-state {
    font-size: 12px;
    margin-left: .5em;
    color: $label-approved-color;
  }

  &__email {
    flex-basis: 100%;
    color: $member-email-color;
  }

  &__date {
    font-size: 12px;
    line-height: 20px;
    flex: none;
    text-transform: uppercase;
    color: $text-soft-color;
  }

  &__order {
    font-size: 11px;
    display: flex;
    align-items: center;
    align-self: center;
    flex: none;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: $member-order-color;
    border-radius: 50%;
    background: $color-white;
    box-shadow: inset 0 0 0 1px $member-order-border-color;
  }
}

.member--approved {
  .member__avatar-state::before {
    top: -5px;
    right: -5px;
    width: 16px;
    height: 16px;
    background: url('/assets/images/tick.svg');
  }

  .member__avatar {
    &-user {
      background: $status-not-confirmed-background;
    }

    &.member--me {
      .member__avatar-user {
        background: $button-primary-background;
      }
    }
  }
}

.comment__user,
.member--approved .member__avatar-user {
  &.avatar__color--1,
  &.avatar__color--6,
  &.avatar__color--11 {
    background: $button-secondary-background;
  }

  &.avatar__color--2,
  &.avatar__color--7,
  &.avatar__color--12 {
    background: $status-not-confirmed-background;
  }

  &.avatar__color--3,
  &.avatar__color--8,
  &.avatar__color--13 {
    background: $mark-background;
  }

  &.avatar__color--4,
  &.avatar__color--9,
  &.avatar__color--14 {
    background: $status-payment-due-background;
  }

  &.avatar__color--5,
  &.avatar__color--10,
  &.avatar__color--15 {
    background: $status-approved-card-title-color;
  }
}

// Comments Pane
.comment {
  display: flex;
  margin-bottom: rhythm(2);

  &__user {
    font-size: 11px;
    line-height: 24px;
    flex: none;
    width: 24px;
    height: 24px;
    margin-top: rhythm(1);
    margin-right: 10px;
    padding-left: 1px;
    text-align: center;
    letter-spacing: .5px;
    color: $color-white;
    border-radius: 50%;
    background: $status-not-confirmed-background;
  }

  &__body {
    flex: 1;
  }

  &__box {
    font-size: 14px;
    line-height: 20px;
    padding: 9px 15px 11px;
    color: #3E3F40;
    border: 1px solid $border-color;
    border-radius: 3px;
    background: $color-white;

    &:not(:last-child) {
      margin-bottom: rhythm(.5);
    }
  }

  &--me {
    flex-direction: row-reverse;

    .comment__user {
      margin-right: 0;
      margin-left: 10px;
      background: $button-primary-background;
    }

    .comment__box {
      border-color: #A1CFE6;
      background: #F2FBFF;
    }
  }

  &--private {

    .comment__box {
      border-color: #F0E0C0;
      background: #FFFDF5;
    }
  }
}

.comment-form {
  &__title {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: rhythm(1);

    > span {
      color: $text-link-color;
    }
  }

  &__input {
    min-height: rhythm(10);
    margin-bottom: rhythm(1);
  }

  &__submit {
    display: block;
    width: 100%;
  }

  &--private {
    .comment-form__input {
      border-color: #F0E0C0;
      background: #FFFDF5;
    }
  }
}

// Actions Pane
.action {
  display: flex;
  padding-top: rhythm(1.5);
  padding-bottom: rhythm(2);

  &:not(:last-child) {
    box-shadow: inset 0 -1px 0 $border-color;
  }

  &__icon {
    flex: none;
    width: (16px + 10px);
    padding-right: 10px;
    text-align: center;

    svg {
      fill: $button-default-icon-color;
    }
  }

  &__body {
    font-size: 14px;
    line-height: 20px;
    flex: 1;
    color: #636566;

    > strong {
      font-weight: 500;
      color: #3E3F40;
    }

    > time {
      font-size: 12px;
      display: inline-block;
      text-transform: uppercase;
      color: $text-soft-color;

      &::before {
        content: " • ";
      }
    }
  }
}

// responsive
@media only screen and (max-width: 1279px) {
  .sidebar-message {
    transition: transform .35s ease;
    transform: translateX(100%);

    &__close {
      display: flex;
      opacity: 0;
    }

    &-trigger {
      display: inline-block;
    }

    &--open {
      transform: translateX(0);

      .sidebar-message__close {
        transition: opacity 0;
        transition: opacity .15s linear .25s;
        opacity: 1;
      }
    }
  }
}

@include slicer(2) {
  .sidebar-message {
    top: 70px;
  }
}

@include slicer(3) {
  .sidebar-message {
    &__close {
      position: static;
      justify-content: flex-start;
      width: 100%;
      height: auto;
      padding: 10px 20px;
      transition: none;
      color: $text-link-color;
      border-radius: 0;
      background: $message-tabs-background;
      box-shadow: none;

      > span {
        display: block;
        margin-left: 5px;
      }

      &:hover {
        background: $message-tabs-background;
      }
    }
  }
}