.page {
  $padding-top: rhythm(5);

  @include clearfix;

  position: relative;
  padding-top: rhythm(4.5);
  padding-bottom: rhythm(10);

  &--no-padding {
    min-height: calc(100% - #{$header-height});
    padding-top: 0;
  }

  &__aside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: $gutter-width;
    width: calc-grids-width(3) - $gutter-width;
    padding-top: $padding-top;
    background: $aside-background;
    box-shadow: 1px 0 0 $aside-border-color;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -500%;
      width: 500%;
      content: '';
      background: $aside-background;
    }
  }

  &__main {
    float: right;
    width: calc-grids-width(9);
    padding-top: $padding-top;

    &.iframe {
      float: none;
      padding-top: 0;
      margin: 0 auto;
    }
  }

  //++
  .pb-0 {
    padding-bottom: 0;
  }
}

//++
@media (min-width: 1420px) {
  .page__aside {
    height: auto; //++
    min-height: calc(100vh - #{$header-height}); //++
  }
}

// responsive
@include slicer(1) {
  .page {
    height: auto;
    padding-bottom: rhythm(5);

    &__aside {
      position: static;
      width: 100%;
      height: auto; //++
      background: transparent;
      box-shadow: none;

      &::before {
        display: none;
      }
    }

    &__main {
      float: none;
      width: 100%;
    }
  }
}

@include slicer(2) {
  .page {
    &__aside {
      padding-top: rhythm(4);
    }

    &__main {
      padding-top: rhythm(3);
    }
  }
}
