.sticky-footer-wrap {
  min-height: 80px;
}

.sticky-footer {
  position: fixed;
  z-index: 2000;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: $sticky-footer-background;
  box-shadow: inset 0 2px 0 $sticky-footer-border-color;

  &__btn-group {
    //margin-left: calc-grids-width(2) + $gutter-width;

    .btn {
      margin-right: $gutter-width / 2;
    }
  }

  .dropdown-menu__wrap {
    display: inline-block;
  }

  .order-status {
    line-height: ($button-height - 2) * 1px;
    display: inline-block;
    float: right;
    height: $button-height * 1px;

    > svg {
      fill: $tooltip-icon-color;
    }
  }

  &--push {
    padding-right: 420px;
  }
}

// responsive
@include slicer(1) {
  .sticky-footer {
    .container-12 {
      max-width: initial;
      width: 100%;
    }
  
    &--push {
       padding-right: 0;
    }
  }
}

@include slicer(2) {
  .sticky-footer {
    &__btn-group {
      margin-left: 0;
    }
  }
}

@include slicer(3) {
  .sticky-footer .order-status {
    float: none;
    width: 100%;
    margin: rhythm(2) 0 0 0;
    text-align: left;
    text-align: center;
  }
}

@include slicer(4) {
  .sticky-footer {
    position: relative;
    height: auto;
    background: none;

    &__btn-group {
       .btn,
       .btn-link,
       .dropdown-menu__wrap {
        display: block;
        width: 100%;
        text-align: center;

        &:not(:last-child) {
          margin-bottom: rhythm(1);
        }
      }
    }

    .dropdown-menu__wrap .dropdown__menu {
      width: 100%;
    }
  }
}
