.profile-box {
  clear: both;
  width: calc-grids-width(6);
  margin-bottom: rhythm(1);
  padding: rhythm(2) 0 rhythm(1);
  border: 1px solid $profile-box-bordor-color;
  border-radius: 4px;
  background: $profile-box-background;

  &__tooltip {
    margin-bottom: rhythm(2);
    margin-left: calc-grids-width(2) + $gutter-width;
  }

  &__checkbox {
    padding-top: ($input-height - $checkbox-size) / 2;
    padding-bottom: ($input-height - $checkbox-size) / 2;
  }
}


// responsive
@include slicer(3) {
  .profile-box {
    width: 100%;

    &__tooltip {
      margin-left: 10px;
    }
  }
}
