.share-dropdown {
  &__trigger {
    margin-right: 10px;
  }

  &__menu {
    width: 400px;
    padding: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .07);
  }

  // share dropdown top part
  &__top {
    position: relative;
  }

  &__close {
    line-height: 1;
    position: absolute;
    z-index: 10;
    top: 15px;
    right: 15px;
    padding: 5px;
    background: transparent;

    > svg {
      position: relative;
      z-index: -1;
    }
  }

  &__content {
    perspective: 1000px;
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: rhythm(1);
    padding-right: 20px;
    color: $share-dropdown-content-title-color;
  }

  &__input-block {
    margin-bottom: rhythm(1);

    > .input-block__input {
      border-right: 0;
    }
  }

  &__link {
    color: $share-dropdown-link-color;

    &--active {
      color: $share-dropdown-link-active-color;
    }
  }

  // share dropdown bottom part
  &__bottom {
    overflow: hidden;
    padding: 4px 20px;
    border-top: 1px solid $share-dropdown-bottom-border;
    border-radius: 0 0 3px 3px;
    background: $share-dropdown-bottom-background;

    > :first-child {
      float: left;
    }

    > :last-child {
      float: right;
    }
  }
}

// flip animation
.share-dropdown {
  &__flip {
    position: relative;
    transition: transform .4s ease-in-out;
    transform-style: preserve-3d;

    &.flip {
      transform: rotateY(180deg) translateZ(0);
    }
  }

  &__screen-1 {
    position: relative;
    z-index: 1;
    height: 140px;
    padding: 20px 20px 0;
    backface-visibility: hidden;
  }

  &__screen-2 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 20px 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
}

@include slicer(1) {
  .share-dropdown {
    display: none;
  }
}

@-moz-document url-prefix() {
  .share-dropdown__flip {
    backface-visibility: hidden;
  }
}
