$header-height: 80px;
$header-nav-height: 40px;

.app-header {
  height: $header-height;
}

.header {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  background: $header-background;
  box-shadow: inset 0 -2px 0 $header-border-color;

  &__logo {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);

    #logo-large {
      max-width: 105px;
    }

    .logo {
      &__thehutgroup {
        position: relative;
        left: -20px;
        max-width: 145px !important;
      }

      &__type {
        fill: $logo-color;
      }

      &__mark {
        fill: $mark-background;

        &--left {
          fill: $mark-background-left;
        }

        &--right {
          fill: $mark-background-right;
        }

        &--bottom {
          fill: $mark-background-bottom;
        }
      }
    }
  }

  &__tabs {
    @include clearfix;
    position: absolute;
    top: 0;
    left: 165px;

    &-item {
      font-size: 15px;
      font-weight: 500;
      line-height: $header-height;
      margin-right: $gutter-width;
      cursor: pointer;
      transition: all .3s ease;
      border-radius: 0;

      &:hover {
        box-shadow: inset 0 -2px 0 darken($header-border-color, 5%);
      }

      &.active {
        color: $header-tab-item-active-color;
        box-shadow: inset 0 -2px 0 currentColor;
      }
    }
  }

  &__button {
    float: right;
    margin-top: ($header-height - $button-height)/2;
  }

  &__nav {
    line-height: $header-nav-height;
    position: absolute;
    top: 0;
    right: 30px;

    &-item {
      line-height: $header-nav-height;
      float: left;
      margin-top: ($header-height - $header-nav-height) / 2;
      padding: 0 $gutter-width;
      border-right: 1px solid $header-nav-item-divider-color;

      // the last two elements
      &:nth-last-child(-n + 2) {
        padding-right: 0;
        border-right: 0;
      }

      + .dropdown__menu {
        top: ($button-height + 5) * 1px;
        left: 0;
      }
    }

    &-icon {
      line-height: $header-nav-height;
      float: left;
      margin-top: ($header-height - $header-nav-height) / 2;

      > a {
        padding: 0 $gutter-width;
      }
    }

    &-button {
      float: left;
      margin-top: ($header-height - $button-height) / 2;
    }

    &-link {
      > .icon-settings,
      > .icon-help--fill {
        margin-right: 2px;
      }

      > .icon-arrow--small {
        margin-left: 4px;
      }

      &:hover {
        color: darken($default-text-color, 30%);
      }
    }

    svg {
      fill: $header-icon-color;
    }

    .btn--primary svg {
      fill: #fff;
    }
  }

  .notification {
    a:hover svg {
      transition: fill .2s ease;
      fill: $header-icon-hover-color;
    }

    &__button {
      position: relative;
    }

    &__count {
      font-size: 9px;
      line-height: 16px;
      position: absolute;
      top: 0;
      right: -10px;
      width: 20px;
      height: 20px;
      text-align: center;
      color: #fff;
      border: solid 2px $header-background;
      border-radius: 50%;
      background: $button-primary-background;
    }
  }

  &-guest {
    > .container-12 {
      position: relative;
      height: $header-height;
    }

    &__brand {
      float: left;

      > h2 {
        line-height: $header-height;
      }
    }

    &__logo {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      .logo {
        max-height: rhythm(4);
      }
    }

    &__account {
      float: right;

      a {
        @extend .text--link;
      }
    }
  }
}

// fixed bar admin/partner
.admin-bar {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: $header-height;
  padding: rhythm(2) 0;
  background: $alert-warning-background;
  box-shadow: inset 0 -1px 0 $alert-warning-border-color;

  + .header {
    margin-top: $header-height;
  }

  &__body {
    float: left;
    color: $alert-warning-color;

    h3 {
      position: relative;
      color: $alert-warning-color;

      &::before {
        position: absolute;
        top: 2px;
        left: -21px;
        width: 16px;
        height: 16px;
        content: url(/assets/images/icon--warning.svg);
      }
    }

    span {
      color: $text-link-color;
    }
  }

  &__button {
    float: left;
    margin-top: 4px;
    margin-left: 15px;
  }
}

// responsive dropdown menu
.responsive-dropdown__trigger {
  background: $responsive-header-background;

  > .icon-list {
    margin-right: 2px;
  }

  > .icon-close {
    display: none;
  }
}

// responsive
@include slicer(1) {
  .header {
    &__logo {
      position: relative;
      top: 0;
      left: 0;
      float: left;
      margin: $gutter-width 0 0 $gutter-width;
      transform: none;

      .logo {
        &__thehutgroup {
          left: -10px;
        }
      }
    }

    &__tabs {
      position: relative;
      left: 0;
      float: left;
      width: auto;
      margin-left: $gutter-width;

      &-item {
        margin-right: $gutter-width;
      }
    }

    &__nav {
      position: relative;
      right: $gutter-width;
      float: right;

      &-item {
        padding: 0 $gutter-width / 2;
      }
    }
  }

  .admin-bar {
    &__body h3 {
      text-indent: 21px;

      &::before {
        left: -20px;
      }
    }
  }
}

@include slicer(2) {
  .app-header {
     $_header-height: 70px;
     height: $_header-height;
  }

  .header {
    $_header-height: 70px;

    height: $_header-height;

    &__logo {
      margin: 15px 0 0 $gutter-width;

      > svg {
        width: 80px;
      }
    }

    &__tabs {
      line-height: $_header-height;
    }

    &__nav {
      line-height: $button-height * 1px;
      right: $gutter-width;

      &-item, &-icon {
        margin-top: 15px;
        padding-right: 0;
        border-right: 0;
      }
    }

    &__tabs-item {
      line-height: $_header-height;
    }

    &-guest__brand > h2 {
      line-height: $_header-height;
    }
  }

  .responsive-dropdown__menu {
    top: calc(100% + 4px);
  }

  .admin-bar {
    position: relative;
    z-index: 0;
    height: auto;

    + .header {
      margin-top: 0;
    }

    &__body {
      float: none;
    }

    &__button {
      float: none;
      margin-left: 0;
      margin-top: rhythm(1);
    }
  }
}

@include slicer(3) {

  .header {

    &__logo {
      margin-left: 10px;
    }

    &__nav {
      right: 10px;
    }
  }

  .responsive-dropdown__trigger.open {
    > .icon-list,
    > span {
      display: none;
    }

    > .icon-close {
      display: block;
    }
  }

  .responsive-dropdown__menu {
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    padding: 0 0 rhythm(3);
    text-align: center;
    border: 0;
    border-radius: 0;
    background: $responsive-header-background;
    box-shadow: none;

    .dropdown-list {
      li {
        font-size: 16px;
        line-height: rhythm(3);
        padding: rhythm(2);
        border: 0;

        &:hover {
          background: transparent;
        }
      }
    }
  }

  .responsive-dropdown__tabs {
    font-weight: 500;
    margin-bottom: rhythm(3);
    padding-top: rhythm(3);
    padding-bottom: rhythm(3);
    border-bottom: 1px solid $header-nav-item-divider-color;

    .selected {
      color: $header-tab-item-active-color;
      background: $header-background;
      box-shadow: inset 0 -2px 0 currentColor;
    }
  }
}
