.cookies-box {
  padding: 15px;
  border-radius: 3px;
  position: fixed;
  width: 320px;
  background: $cookie-background;
  border: solid 1px darken($cookie-background,7);
  z-index: 10000;
  bottom: 10px;
  left: 10px;

  &__button {
    position: relative;
    float: right;
    margin-left: 20px;
    line-height: 32px;
    padding: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__content {
    color: $text-soft-color;

    a {
      color: $text-link-color;

      &:hover {
        color: $text-link-hover-color;
      }
    }
  }

  @include slicer(2) {
    left: 0px;
    bottom: 0px;
    width: 100%;
    border-radius: 0px;
    border: none;
  }
}
