.details-card {
  overflow: hidden;
  border: 1px solid $details-card-border-color;
  border-radius: 4px;
  background: $details-card-background;

  &__title {
    padding: rhythm(1.5) 15px rhythm(1.5) 20px;
    background: $details-card-title-background;
  }

  &__title_small {
    padding: 0 15px 20px 20px;
  }

  //++
  &__collapse,
  &__content {
    overflow: hidden;
  }

  &__section {
    padding: 0 0 rhythm(3);
    border-top: 1px solid $details-card-border-color;

    &:first-child, &:first-of-type {
      padding-top: rhythm(3);
    }

    &-title {
      margin-bottom: rhythm(3);
      padding: rhythm(1.5) 15px rhythm(1.5) 20px;
      background: $details-card-title-background;
    }
  }

  svg {
    fill: $icon-default-color;
  }
}

// services-list
.services-list {
  padding: 0 $gutter-width;

  &__item {
    margin-bottom: rhythm(1.75);
    color: $services-list-item-color;

    &:last-child {
      margin-bottom: 0;
    }

    > svg {
      margin-right: 3px;
      fill: $services-list-item-icon-color;
    }

    // checked service
    &.checked {
      color: $services-list-item-checked-color;

      > svg {
        fill: $services-list-item-checked-icon-color;
      }
    }

    // override tooltip styles
    > .tooltip {
      margin-left: 4px;

      &::before {
        left: -10px;
      }

      &::after {
        left: 0;
      }
    }
  }
}

@include slicer(3) {
  .details-card {
    &__title, &__title_small {
      padding: rhythm(1.5) 10px rhythm(1.5) 10px;
    }

    &__section {
      padding: rhythm(2) 0;
    }
  }

  .services-list {
    &__item {
      margin: rhythm(1) 0 0 0;
    }
  }
}