.message-box {
  width: calc-grids-width(8);
  margin: 0 auto;
  position: relative;
  box-shadow: 0 1px 3px 0 $message-box-shadow-color;

  //++
  position: absolute;
  left: 15%;
  top: 15%;
  z-index: 10;

  //++
  .alert {
    margin-bottom: 0px;
  }

  @include slicer(2) {
    left: 0px;
    top: 0px;
  }


  &__title {
    color: white;
    font-weight: 400;
    margin-bottom: rhythm(1);
  }

  p {
    color: white;

    &:last-child {
      margin-bottom: rhythm(1);
    }
  }

  .icon-arrow-point {
    position: absolute;
    left: -70px;
    top: -35px;
    fill: $message-box-icon-arrow-color;
  }
}

// responsive
@include slicer(2) {
  .message-box {
    width: 100%;
  }

  .icon-arrow-point {
    display: none;
  }
}
