.pagination {
  line-height: 32px;
  float: right;
  clear: both;
}

.pagination-dropdown {
  float: left;

  &__trigger {
    display: block;
    height: $pagination-height;
    padding-right: $padding-width;
    padding-left: $padding-width;
    border-radius: 3px;
    background: $pagination-background;
    box-shadow: inset 0 0 0 1px $pagination-border-color;
    transition: all .2s ease;

    > svg {
      margin-left: rhythm(1);
      fill: $pagination-text-color;
    }
  }
}

.pagination-btns {
  float: left;
  margin-left: 5px;

  > li {
    float: left;
    margin-left: rhythm(1);
  }
}

// pagination buttons and input
.pagination-btn {
  display: block;
  width: $pagination-height;
  height: $pagination-height;
  padding: 0;
  color: $pagination-text-color;
  border-radius: 3px;
  background: $pagination-background;
  box-shadow: inset 0 0 0 1px $pagination-border-color;
  transition: all .2s ease;

  &[disabled] {
    cursor: not-allowed;
    color: $pagination-disabled-text-color;
    background: $pagination-disabled-background;
  }

  &:hover:not([disabled]) {
    background: $pagination-btn-hover-background;
  }

  > svg {
    vertical-align: 1px;
  }
}

.pagination-input {
  display: block;
  width: $pagination-height;
  height: $pagination-height;
  padding: 0;
  text-align: center;
}

.pagination-text {
  color: $pagination-text-color;
}
