.alert {
  margin-bottom: rhythm(2);
  padding: $gutter-width;
  border-radius: 4px;
  line-height: rhythm(3);

  .text--link {
    color: inherit;
    font-weight: 500;

    &:hover {
      border-bottom: solid 1px;
      color: inherit;
    }
  }

  em {
    font-weight: 500;
    font-style: normal;
  }

  > svg {
    margin-right: 5px;
  }

  p + p, span:not(:first-child) p {
    margin-top: rhythm(1);
  }

  .btn-group {
    margin-bottom: 0;
  }

  &__btn {
    background: white;
    color: inherit;
  }

  .label {
    color: inherit;
  }

  &--small {
    margin: rhythm(1) 0 0 0;
    padding: 10px;
    border-radius: 3px;
    line-height: 20px;
    font-size: 13px;
  }

  h2, h3 {
    margin-bottom: rhythm(1);
  }

  &--success {
    color: $alert-success-color;
    background: $alert-success-background;
    box-shadow: inset 0 0 0 1px $alert-success-border-color;

    h2, h3 {
      color: $alert-success-color;
    }

    .label {
      background: darken($alert-success-background,3);
      box-shadow: inset 0 0 0 1px $alert-success-border-color;
    }

    .alert__btn {
      border-color: $alert-success-btn-border-color;
      color: darken($alert-success-color,10);

      &:hover {
        border-color: darken($alert-success-btn-border-color,15);
      }
    }

    .text--link {
      color: darken($alert-success-color,7);
      border-bottom: solid 1px lighten($alert-success-color,30);
    }
  }

  &--error {
    color: $alert-error-color;
    background: $alert-error-background;
    box-shadow: inset 0 0 0 1px $alert-error-border-color;

    h2, h3 {
      color: $alert-error-color;
    }

    .label {
      background: darken($alert-error-background,3);
      box-shadow: inset 0 0 0 1px $alert-error-border-color;
    }

    .alert__btn {
      border-color: $alert-error-btn-border-color;
      color: darken($alert-error-color,10);

      &:hover {
        border-color: darken($alert-error-btn-border-color,15);
      }
    }

    .text--link {
      color: darken($alert-error-color,7);
      border-bottom: solid 1px lighten($alert-error-color,30);
    }
  }

  &--warning {
    color: $alert-warning-color;
    background: $alert-warning-background;
    box-shadow: inset 0 0 0 1px $alert-warning-border-color;

    h2, h3 {
      color: $alert-warning-color;
    }

    .label {
      background: darken($alert-warning-background,3);
      box-shadow: inset 0 0 0 1px $alert-warning-border-color;
    }

    .alert__btn {
      border-color: $alert-warning-btn-border-color;
      color: darken($alert-warning-color,10);

      &:hover {
        border-color: darken($alert-warning-btn-border-color,15);
      }
    }

    .text--link {
      color: darken($alert-warning-color,7);
      border-bottom: solid 1px lighten($alert-warning-color,30);
    }
  }

  &--info {
    color: $alert-info-color;
    background: $alert-info-background;
    box-shadow: inset 0 0 0 1px $alert-info-border-color;

    h2, h3 {
      color: $alert-info-color;
    }

    .label {
      background: darken($alert-info-background,3);
      box-shadow: inset 0 0 0 1px $alert-info-border-color;
    }

    .alert__btn {
      border-color: $alert-info-btn-border-color;
      color: darken($alert-info-color,10);

      &:hover {
        border-color: darken($alert-info-btn-border-color,15);
      }
    }

    .text--link {
      color: darken($alert-info-color,7);
      border-bottom: solid 1px lighten($alert-info-color,30);
    }
  }

  &--highlight {
    color: $alert-highlight-color;
    line-height: 20px;
    background: $alert-highlight-background;
    box-shadow: inset 0 0 0 1px darken($alert-highlight-background, 5%);

    a {
      text-decoration: underline;

      &:hover {
        color: white;
      }
    }
  }
}

// message box on top of the page
.alert--fixed {
  position: fixed;
  z-index: 99999;
  top: rhythm(2);
  right: 0;
  left: 0;
  width: 320px;
  margin: 0 auto;
  transition: opacity 300ms linear;
  text-align: center;
  opacity: 0;

  &.visible {
    opacity: 0.9;
  }
}

.error {
  margin-top: rhythm(1);
  color: $text-danger-color;
  font-size: 13px;
  line-height: 20px;
}
