.label {
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
  padding: rhythm(.5) rhythm(1);
  text-transform: uppercase;
  border-radius: 3px;
  letter-spacing: .3px;

  &--approved {
    color: $label-approved-color;
    background: $label-approved-background;
    box-shadow: inset 0 0 0 1px $label-approved-border-color;
  }

  &--completed {
    color: $label-completed-color;
    background: $label-completed-background;
    box-shadow: inset 0 0 0 1px $label-completed-border-color;
  }

  &--pending, &--info {
    color: $label-pending-color;
    background: $label-pending-background;
    box-shadow: inset 0 0 0 1px $label-pending-border-color;
  }

  &--cancelled {
    color: $label-cancelled-color;
    background: $label-cancelled-background;
    box-shadow: inset 0 0 0 1px $label-cancelled-border-color;
  }

  &--draft {
    color: $label-draft-color;
    background: $label-draft-background;
    box-shadow: inset 0 0 0 1px $label-draft-border-color;
  }

  &--waiting {
    color: $label-waiting-color;
    background: $label-waiting-background;
    box-shadow: inset 0 0 0 1px $label-waiting-border-color;
  }
}
