// text styles
.text--hint {
  font-size: 13px;
  font-weight: 400;
  color: $text-soft-color;
}

.text--soft {
  color: $text-soft-color;
}

.text--link {
  color: $text-link-color;

  &:hover {
    color: $text-link-hover-color;
  }
}

.text--default {
  color: $default-text-color;
}

.text--danger {
  color: $text-danger-color;

  + svg {
    fill: $text-danger-color;
  }

  &:hover {
    color: saturate($text-danger-color, 20%);
  }
}

.text--no-wrap {
    white-space: normal!important;
}

// currency
.currency {
  font-size: 12px;
  margin-right: 4px;
}

// the "-"
.null {
  display: inline-block;
  width: 6px;
  height: 2px;
  vertical-align: middle;
  border-radius: 1px;
  background: $text-null-color;
}
