.status {
  $circle-size: 6px;

  position: relative;
  display: block;
  padding-left: $circle-size * 2;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $circle-size;
    height: $circle-size;
    margin: auto;
    content: '';
    border-radius: 50%;
  }

  &--not-confirmed::before {
    background: $status-not-confirmed-background;
  }

  &--payment-due::before {
    background: $status-payment-due-background;
  }

  &--payment-overdue::before {
    background: $status-payment-overdue-background;
  }

  &--completed::before {
    background: $status-completed-background;
  }
}

//++
li .status:before {
  margin-top: 5px;
}

.status-text {
  &--success {
    font-weight: 500;
    color: $status-text-green-color;
  }

  &--pending {
    color: $text-soft-color;
  }

  &--cancel {
    color: $text-danger-color;
  }
}
