[class^='icon-'],
[class*='icon-'] {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: sub;
  fill: currentColor;

  &.inverted {
    transform: rotate(180deg);
  }
}

// resized icons
.icon-arrow {
  width: 12px;
  height: 7px;
  vertical-align: middle;

  &--right {
    transform: rotate(-90deg);
  }

  &--left {
    transform: rotate(90deg);
  }
}

.icon-arrow--small {
  width: 8px;
  height: 5px;
  vertical-align: middle;
}

.icon-check {
  width: 8px;
  height: 6px;
  vertical-align: middle;
}

.icon-plus {
  width: 10px;
  height: 10px;
  vertical-align: middle;
  margin-top: -2px;
}

.icon-close--small {
  width: 10px;
  height: 10px;
  vertical-align: middle;
}

.icon-close {
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

.icon-sort {
  width: 8px;
  height: 12px;
  margin-left: 4px;
  vertical-align: middle;
  transition: transform .2s ease;
}

.icon-triangle {
  width: 10px;
  height: 6px;
}

.icon-arrow-point {
  width: 80px;
  height: 72px;
}

// helpers
.icon-mr-3 {
  margin-right: 5px;
}

.icon-ml-3 {
  margin-left: 5px;
}
