.term {
  &-input {
    &--small {
      width: 280px;
      padding-right: 10px !important;
    }

    &--tiny {
      width: 140px;
      padding-right: 10px !important;
    }
  }

  &-input-credit-terms {
    > .input-block__addon {
      cursor: pointer;
    }

    svg {
      vertical-align: middle;
    }
  }

  &-save {
    margin-top: rhythm(8);
  }

  &-grid-6 {
    width: 100%;
    max-width: calc-grids-width(6);
  }

  &-grid-7 {
    width: 100%;
    max-width: calc-grids-width(7);
  }
}


// responsive styles
@media screen and (max-width: 900px) {
  #term-page .entry--setting:not(.entry--nested) {
    > .entry__content,
    > .entry__rest {
      clear: both;
      margin-left: 0;
    }

    .entry__title {
      margin-bottom: rhythm(.5);
    }
  }
}

@include slicer(3) {
  .term {
    &-input {
      &--small {
        padding-right: 0 !important;
      }

      &--tiny {
        padding-right: 0 !important;
      }
    }
  }
}
