.edit-order-page {
    padding-right: 420px;
  
    &.no-sidebar {
      padding-right: 0;
  
      .sidebar-message-trigger {
        display: none;
      }
  
      .sticky-footer--push {
        padding-right: 0;
      }
    }
  }
  
  @media only screen and (max-width: 1279px) {
    .edit-order-page {
      padding-right: 420px;
      padding-right: 0;
    }
  }
  
  @include slicer(3) {
    .edit-order-page {
      padding-right: 0;
    }
  
    .edit-order-heading-controller {
      display: flex;
      float: none;
      justify-content: space-between;
      width: 100%;
    }
  }