// Grids Size
$container-width: 1140px;
$column-width: 75px;
$gutter-width: 20px;
$padding-width: 15px;

// Button Size
$button-height: 40;

// Input Size
$input-height: 40px;
$input-width--small: 120px;
$input-width--tiny: 60px;
$input-width--medium: 265px;
$input-width--large: 360px;

// Table Size
$table-row-height: 48px;

// Pagination Size
$pagination-height: 32px;

// Table row height
$table-row-height: 48px;
