// defaults
$color-white: #fff;
$body-background: $color-white;
$border-color: #e1e4e6;
$icon-default-color: #949899;

// typography
$default-text-color: #3e3f3f;
$default-title-color: #252526;

$text-soft-color: #949899;

$text-strong-color: #252526;
$text-link-color: #1698d9;
$text-link-hover-color: #1386bf;
$text-danger-color: #e64c2e;
$text-currency-color: $text-soft-color;
$text-null-color: #c0c8cc; // the "-" icon

// input, textarea
$input-default-placeholder-text-color: #adb1b3;
$input-default-text-color: #3e3f3f;
$input-default-background: #fff;
$input-default-border-color: #d3d7d9;
$input-default-hover-border-color: darken($input-default-border-color, 7%);
$input-default-focus-border-color: #1698d9;

$input-disabled-background: #fafcfd;

$input-addon-background: #fafcfd;

$input-icon-color: #c0c8cc;
$input-icon-focus-color: #1698d9;

// buttons
$button-default-text-color: #3e3f3f;
$button-default-icon-color: $text-soft-color;
$button-default-background: #fafcfd;
$button-default-border-color: #d3d7d9;

$button-primary-text-color: #fff;
$button-primary-background: #0abfbf;
$button-primary-border-color: #0abfbf;

$button-secondary-text-color: #fff;
$button-secondary-background: #1698d9;
$button-secondary-border-color: #1698d9;

$button-danger-text-color: #e64c2e;
$button-danger-background: #fff;
$button-danger-bordor-color: #e64c2e;

$button-disabled-text-color: #adb1b3;
$button-disabled-background: #f3f6f8;
$button-disabled-border-color: #e1e4e6;

$button-plus-text-color: #1698d9;
$button-plus-hover-text-color: #1386bf;

$button-back-text-color: #1698d9;
$button-back-hover-text-color: #1386bf;

$button-collapse-text-color: $text-soft-color;

$button-link-icon-color: #1698d9;

// table
$table-background: #fff;
$table-border-color: #e1e4e6;
$thead-background: #fafcfd;
$table-decimal-text-color: $text-soft-color;

$table-status-color: $text-soft-color;
$table-status-underline: #e1e4e6;

$table-dropdown-trigger-color: #c0c8cc;
$table-dropdown-trigger-hover-color: #606466;

$table-clickable-tbody-hover-background: #fafcfd;

$table-no-result-background: #fafeff;

// checkbox icon
$checkbox-icon-color: #fff;
$checkbox-icon-background: #fff;
$checkbox-icon-hover-background: #fafcfd;
$checkbox-icon-border-color: #d3d7d9;
$checkbox-icon-checked-background: #1698d9;
$checkbox-dark-icon-checked-background: #1386bf;

$checkbox-icon-disabled-color: #adb1b3;
$checkbox-icon-disabled-background: #fafcfd;
$checkbox-icon-disabled-border-color: #e1e4e6;

// dropdown
$dropdown-border-color: #d3d7d9;

$dropdown-menu-background: #fff;
$dropdown-menu-box-shadow-color: rgba(0, 0, 0, .07);

$dropdown-title-color: $text-soft-color;

$dropdown-entry-hover-background: #fafcfd;
$dropdown-entry-selected-background: #f8fdff;

$dropdown-btn-default-color: #4a4c4c;
$dropdown-btn-default-icon-color: $text-soft-color;
$dropdown-btn-hover-background: #fafcfd;
$dropdown-primary-btn-color: #1698d9;
$dropdown-danger-btn-color: #e64c2e;

// share dropdown
$share-dropdown-content-title-color: #3e3f40;
$share-dropdown-link-color: #949799;
$share-dropdown-link-active-color: #1698D9;
$share-dropdown-bottom-background: #fafcfd;
$share-dropdown-bottom-border: $border-color;

// section
$section-border-color: #e1e4e6;

// aside
$aside-background: #fafcfd;
$aside-border-color: #eef1f3;
$aside-text-hover-color: #1698d9;
$aside-entry-border-color: #eef1f3;

// tabs
$tabs-border-color: #eef1f3;
$tabs-text-hover-color: #1698d9;

// details card
$details-card-border-color: #d3d7d9;
$details-card-background: #fff;
$details-card-title-background: #f8fafa;

// services list
$services-list-item-color: $text-soft-color;
$services-list-item-icon-color: #e64c2e;
$services-list-item-checked-color: #3e3f3f;
$services-list-item-checked-icon-color: #43bf57;

// event card
$event-card-status-line-color: #e1e4e6;
$event-card-status-dot-default-color: #adb1b3;
$event-card-status-dot-shadow-color: #fff;
$event-card-border-color: $event-card-status-line-color;
$event-card-hover-border-color: #c0c8cc;
$event-complete-text-color: $text-soft-color;

$event-card-edit-btn-text-color: $text-soft-color;
$event-card-edit-btn-border-color: #d3d7d9;

$event-card-dropdown-trigger-color: #c0c8cc;
$event-card-dropdown-trigger-hover-color: #606466;

$event-edit-card-border-color: #d3d7d9;
$event-edit-card-footer-border-color: #eef1f3;
$event-edit-card-footer-background: #fafcfd;

$event-detail-card-background: #fafcfd;
$event-detail-card-hover-background: #fff;

$event-card-move-btn-color: #fff;
$event-card-move-btn-background: #c0c8cc;

// header
$header-background: #f5f9fa;
$header-border-color: #eef1f3;
$header-tab-item-active-color: #1698d9;
$header-nav-item-divider-color: #e1e4e6;
$header-icon-color: $text-soft-color;
$header-icon-hover-color: $default-text-color;

$responsive-header-background: #fff;

// cookie message box
$cookie-background: #f5f9fa;

// message box
$message-box-shadow-color: rgba(0, 0, 0, .1);
$message-box-icon-arrow-color: #0abfbf;

// modal
$modal-mask-background: rgba(255, 255, 255, .85);

$modal-box-border-color: #d3d7d9;
$modal-box-shadow-color: rgba(0, 0, 0, .05);
$modal-box-header-background: #f8fafa;
$modal-box-close-btn-color: #949899;
$modal-box-content-background: #fff;
$modal-box-footer-background: $modal-box-header-background;

// pagination
$pagination-text-color: $text-soft-color;
$pagination-background: #fafcfd;
$pagination-border-color: #d3d7d9;
$pagination-btn-hover-background: #fff;

$pagination-disabled-text-color: #c0c8cc;
$pagination-disabled-background: #f5f9fa;

// profile box
$profile-box-bordor-color: #d3d7d9;
$profile-box-background: #fafcfd;

// select
$select-border-color: #d3d7d9;
$select-background: #fff;
$select-trigger-icon-color: #c0c8cc;
$select-menu-border-color: #d3d7d9;
$select-menu-divider-color: #adb1b3;
$select-menu-msg-text-color: $text-soft-color;
$select-add-btn-background: #fafcfd;

// service card (services options)
$service-card-bordor-color: #d3d7d9;
$service-card-left-bar-background: #f0f4f5;
$service-card-hover-shadow-color: rgba(0, 0, 0, .07);
$service-card-selected-border-color: #1698d9;
$service-card-selected-background: #fafeff;

// status card
$status-card-status-line-color: #eef1f3;
$status-card-border-color: $status-card-status-line-color;
$status-card-status-dot-default-color: #adb1b3;
$status-card-status-dot-shadow-color: #fff;
$status-card-default-title-color: #adb1b3;

$status-approved-card-color: #606466;
$status-approved-card-border-color: $border-color;
$status-approved-card-background: #fafcfd;
$status-approved-card-status-dot-background: #fff;
$status-approved-card-title-color: #43bf57;

$status-waiting-card-border-color: #1698d9;
$status-waiting-card-status-dot-background: #1698d9;
$status-waiting-card-title-color: #252526;

$status-card-border-color: #d3d7d9;
$status-card-hover-border-color: #c0c8cc;

$status-completed-text-color: #43bf57;
$status-due-text-color: #f07918;
$status-overdue-text-color: #e64c2e;

$upload-btn-background: #f8fafa;
$upload-btn-text-color: $text-soft-color;

// sticky footer
$sticky-footer-border-color: #eef1f3;
$sticky-footer-background: #f5f9fa;

// tooltip
$tooltip-color: $text-soft-color;
$tooltip-icon-color: #c0c8cc;
$tooltip-message-box-color: #fff;
$tooltip-message-box-background: $text-soft-color;
$tooltip-text-underline: #e1e4e6;

// alerts
$alert-success-color: #2e7339;
$alert-success-background: #f5fff7;
$alert-success-border-color: #ACE6B5;
$alert-success-btn-border-color: #66CC77;

$alert-error-color: #bf4f39;
$alert-error-background: #fff9f8;
$alert-error-border-color: #ffd5cc;
$alert-error-btn-border-color: #CC7966;

$alert-info-color: #2e5c73;
$alert-info-background: #f3fbff;
$alert-info-border-color: #a1cfe6;
$alert-info-btn-border-color: #66AACC;

$alert-warning-color: #735c2e;
$alert-warning-background: #fffef5;
$alert-warning-border-color: #F0D8A8;
$alert-warning-btn-border-color: #CCAA66;

$alert-highlight-color: #ffffff;
$alert-highlight-background: #1698d9;

$alert-inline-info-text-color: $text-soft-color;

// label
$label-approved-color: #43bf57;
$label-approved-background: #f5fdf7;
$label-approved-border-color: #dff8e3;

$label-completed-color: $text-soft-color;
$label-completed-background: #fafcfd;
$label-completed-border-color: #eef1f3;

$label-pending-color: #1698d9;
$label-pending-background: #f5fafd;
$label-pending-border-color: #e4f4fd;

$label-cancelled-color: #e64c2e;
$label-cancelled-background: #fdf7f5;
$label-cancelled-border-color: #fde7e4;

$label-draft-color: #adb1b3;
$label-draft-background: #fff;
$label-draft-border-color: #fde7e4;

$label-waiting-color: #a15ce6;
$label-waiting-background: #f9f5fd;
$label-waiting-border-color: #f0e4fd;

// status
$status-not-confirmed-background: #a15ce6;
$status-payment-due-background: #ffcd67;
$status-payment-overdue-background: #e64c2e;
$status-completed-background: #c0c8cc;

$status-text-green-color: #43bf57;
$status-text-cinnabar-color: #e64c2e;

// account page
$account-password-toggle-text-color: #1698d9;
$account-password-toggle-divider-border-color: #e8eaeb;

// fixed top feedback
$fixed-top-feedback-background: #1698d9;

// logo
$logo-color: #1a2333;
$logo-color--inverse: #fff;

$mark-background-left: #8551cc;
$mark-background-right: #30bfbf;
$mark-background-bottom: #22a5e6;
$mark-background: #366cd9;

// datepicker
// https://github.com/720kb/angular-datepicker
$dp-primary-background: #1698d9;
$dp-dropdown-background: #f3fbff;
$dp-disabled-background: #f5f9fa;
$dp-active-background: #1698d9;
$dp-hover-background: #E3F7FC;
$dp-days-header-background: #E3F7FC;

$dp-default-border-color: #1698d9;
$dp-hover-text-color: #1698d9;
$dp-active-text-color: #ffffff;
$dp-header-link-color: #E3F7FC;

// message
$message-tabs-background: #F7F9FA;
$message-tabs-border-color: #E1E4E6;
$message-tab-color: #636566;
$message-tab-active-color: #1698d9;
$message-panes-background: #ffffff;

// message notification
$notifaction-new-order-color: #3E3F40;
$notifaction-new-order-indicator-color: #C0C8CC;
$notifaction-line-color: #E1E4E6;
$notifaction-time-color: #949799;

// message members
$member-email-color: #939799;
$member-order-color: #636566;
$member-order-border-color: #D2D7D9;
$member-avatar-placeholder-color: #C0C8CC;

