@font-face {
  font-family: 'MaisonNeue';
  font-weight: normal;
  src:
    url('https://yordex.com/assets/fonts/MaisonNeueWEB-Book.woff2') format('woff2'),
    url('https://yordex.com/assets/fonts/MaisonNeueWEB-Book.woff') format('woff');
}

@font-face {
  font-family: 'MaisonNeue';
  font-weight: 500;
  src:
    url('https://yordex.com/assets/fonts/MaisonNeueWEB-Medium.woff2') format('woff2'),
    url('https://yordex.com/assets/fonts/MaisonNeueWEB-Medium.woff') format('woff');
}

@font-face {
  font-family: 'MaisonNeue';
  font-weight: 600;
  src:
    url('https://yordex.com/assets/fonts/MaisonNeue-Demi.woff2') format('woff2'),
    url('https://yordex.com/assets/fonts/MaisonNeue-Demi.woff') format('woff');
}

@font-face {
  font-family: 'MaisonNeue';
  font-weight: 700;
  src:
    url('https://yordex.com/assets/fonts/MaisonNeue-Bold.woff2') format('woff2'),
    url('https://yordex.com/assets/fonts/MaisonNeue-Bold.woff') format('woff');
}