.article {
	margin-bottom: rhythm(4);
	padding-bottom: rhythm(4);
	box-shadow: 0 1px 0 0 $text-color-light-7;

	&:only-child {
		box-shadow: none;
	}

	&__category {
		display: inline-block;
		margin-bottom: rhythm(1);

		&__link {
			font-size: 11px;
			line-height: rhythm(2);
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .5px;
			padding: 5px 8px 3px;
			background: lighten($color-tertiary, 20);
			border-radius: 20px;

			&--blue {
				color: $color-tertiary;
				background: $background-label-1;
			}

			&--green {
				color: $color-primary;
				background: $background-label-2;
			}

			&--purple {
				color: $color-quaternary;
				background: $background-label-3;
			}

			&--lightblue {
				color: $color-secondary;
				background: $background-label-4;
			}
		}
	}

	&__title {
		margin-bottom: rhythm(2);
		padding-right: get-columns-width(2);
	}

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__image {
		img {
			max-width: get-columns-width(2);
    	height: auto;
    	border-radius: 3px;
		}
	}

	&__date {
		color: $text-color-light-5;
	}

	&__author {
		display: flex;
		align-items: center;
		margin-bottom: rhythm(2);
		font-size: ms(-1);

		&__image {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-right: 10px;
		}
	}

	&__link {
		margin-top: rhythm(2);
	}

	&__lead {
		margin: 0 0 rhythm(3) rhythm(-3);
		padding: rhythm(2) 0 rhythm(2) 22px;
    border-left: 2px solid $color-primary;
	}

	&__content {
		max-width: get-columns-width(4) + $gutter-width;
		color: $text-color-dark-2;

	  h2,
	  h3,
	  h4,
	  h5,
	  h6 {
	    color: $text-color-dark-1;
	  }

	  p {
	    margin-bottom: rhythm(3);
	  }

	  strong {
	    font-weight: 600;
	    position: relative;
	    color: $text-color-dark-1;
	  }

	  em {
	    font-family: 'Open Sans', sans-serif;
	  }

		ul {
		  margin: 0 0 rhythm(3) rhythm(2);
		  padding: 0;
		  list-style-type: none;

		  li {
		    line-height: rhythm(3);
		    margin: 0 0 rhythm(2) 0;

		    &:before {
		      float: left;
		      content: "*";
		      margin-left: rhythm(-2);
		      margin-top: 0.2em;
		    }

		    p {
		      margin: 0 0 rhythm(2) 0;
		    }
		  }
		}

		ol {
		  margin: 0 0 rhythm(3) rhythm(2);
		  padding: 0;
		  -webkit-font-feature-settings: "tnum";
		  -o-font-feature-settings: "tnum";
		  -moz-font-feature-settings: "tnum";
		  -ms-font-feature-settings: "tnum";
		  font-feature-settings: "tnum";

		  li {
		    line-height: rhythm(3);
		    margin: 0 0 rhythm(2) 0;

		    p {
		      margin: 0 0 rhythm(2) 0;
		    }
		  }
		}

	  a {
	    @extend .o-link;
	  }

	  table {
	    font-size: .875em;
	    overflow: hidden;
	    width: 100%;
	    margin: rhythm(3) 0;
	    border-collapse: collapse;
	    color: $text-color-dark-3;
	    background: $color-white;

	    th,
	    td {
	      padding: .5em;
	      text-align: left;
	      border: 1px solid $border-color-default;
	    }

	    th {
	      font-weight: normal;
	      padding: 1em .5em;
	      color: $text-color-dark-1;
	      border-bottom: 2px solid $border-color-dark;
	      background: $background-light-2;
	    }
	  }
	}
}


