.c-header {
  height: rhythm(5) * 2 + $header-height;
  padding: rhythm(5) 0;
  box-shadow: inset 0 -1px 0 $border-color-light;

  &--dark {
    @extend .c-header;
    color: $color-white;
    background-color: $color-tertiary;
    box-shadow: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    position: relative;
    z-index: 9999;
    margin-right: rhythm(7);
    height: 40px;
  }

  &__menu {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;

    &--left {
      display: flex;
      align-items: center;

      .c-header__link:not(:last-child) {
        margin-right: rhythm(4);
      }
    }

    &--right {
      display: flex;
      align-items: center;

      > .c-header__link {
        margin-right: rhythm(3);
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;

    &::after {
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 2px;
      content: '';
      transition: transform .25s ease-in-out;
      transform: scaleX(0);
      background: $color-primary;
    }

    &--active::after,
    &:hover::after {
      transform: scaleX(1);
    }
  }

  &__signup {
    padding-right: rhythm(3);
    padding-left: rhythm(3);
  }

  &__mobile-signup {
    position: relative;
    z-index: 9999;
    display: none;
    flex: none;
    // 148px is the logo width, add offset to this button in order to make sure
    // it is centered align.
    margin-left: -148px + $header-height;
    padding-right: rhythm(3);
    padding-left: rhythm(3);
  }

  &__hamburger {
    position: relative;
    z-index: 9999;
    display: none;
    align-items: center;
    flex: none;
    justify-content: center;
    width: $header-height;
    height: $header-height;
    border-radius: 3px;
    background: $color-white;
  }
}

.c-page-header {
  padding-top: rhythm(11);

  &__hgroup {
    margin: 0 auto rhythm(9);
    text-align: center;
  }

  &__heading {
    margin-bottom: rhythm(2);
    color: $text-color-dark-1;
  }

  &__subheading {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    color: $text-color-dark-2;
  }
}

.c-header--dark {
  .c-header {
    box-shadow: none;
  }

  .c-page-header {
    &__heading {
      color: white;
    }
  }
}

// Responsive styles
// ------------------------------------ //
@include responsive(desktopSM) {
  .c-header {
    &__logo {
      margin-right: 0;
    }

    &__menu {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      left: 0;
      display: block;
      visibility: hidden;
      flex-direction: column;
      height: 100vh;
      padding-top: rhythm(12);
      transition: .25s;
      pointer-events: none;
      opacity: 0;
      background: linear-gradient(-180deg, #f7f9fa 0, #fff 100%);

      &--left {
        flex-direction: column;
        padding-top: rhythm(5);
        box-shadow: inset 0 1px 0 $border-color-light;
      }

      &--right {
        flex-direction: column;
      }
    }

    &__link {
      line-height: 24px;
      width: 100%;
      max-width: 280px;
      height: 48px;
      margin-right: 0 !important;
      padding-top: 12px;
      padding-bottom: 8px;
      text-align: center;
      border-radius: 3px;

      &--mr3 {
        margin-right: rhythm(3);
      }

      &--mr4 {
        margin-right: rhythm(4);
      }

      &::after {
        content: none;
      }

      &--active,
      &:hover {
        background: $color-white;
      }
    }

    &__signup {
      display: none;
    }

    &__mobile-signup {
      display: block;
    }

    &__hamburger {
      display: flex; // override "display: none"
    }

    &__close-svg {
      display: none;
    }
  }

  .menu-open {
    overflow: hidden;

    .c-header {
      &__logo {
        color: $logo-color;
      }

      &__menu {
        z-index: 999;
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
        color: $text-color-dark-3;
      }

      &__signup {
        color: $color-white;
        background: $color-primary;
        box-shadow: none;

        &:hover,
        &:focus {
          background: darken($color-primary, 3%);
        }
      }

      &__hamburger-svg {
        display: none;
      }

      &__close-svg {
        display: block;
      }
    }
  }
}

@include responsive(tablet) {
  .c-header {
    height: rhythm(2) * 2 + $header-height;
    padding-top: rhythm(2);
    padding-bottom: rhythm(2);

    &__menu {
      padding-top: 80px;
    }

    &__container {
      align-items: center;
    }

    &__logo {
      margin-right: 0;
    }
  }

  .c-page-header {
    padding-top: rhythm(10);

    &__hgroup {
      margin: 0 auto rhythm(7);
    }
  }
}

@include responsive(mobile) {
  .c-header {
    &__signup {
      display: block;
      width: 100%;
      max-width: 280px;
    }

    &__mobile-signup {
      display: none;
    }
  }

  .c-page-header {
    padding-top: rhythm(7);
  }
}
