.o-section {
  overflow-x: hidden;
  padding-top: rhythm(15);
  padding-bottom: rhythm(15);
  background: $color-white;
}

// Responsive
@include responsive(tablet) {
  .o-section {
    padding-top: rhythm(7);
    padding-bottom: rhythm(7);
  }
}