{% if page.page_type != 'product' %}
<div class="section--gradient">
    <div class="header-wrap header-wrap--no-margin">
{% endif %}

{% if page.page_type == 'product' %}
<div class="product-masthead">
    <div class="product-header-wrap">
{% endif %}

{% if page.page_type == 'home' %}
<div class="index-masthead">
    <div class="index-header-wrap">
{% endif %}

{% assign my_page_url = page.url | remove: '/' %}

<header class="header" ng-class="{'menu-open': isMenuOpen}">
  <div class="header__container o-container-8 o-gutter">
      <a class="header__logo {% if page.page_type != 'product' %} header__logo--dark {% endif %}" href="/">
        {% include svgs/logo.svg inverse=false %}
      </a>
      <div class="header__menu">
          <nav class="header__menu-left">
              <!--
                <a class="header__link" ui-sref-active="header__link--active" ui-sref="{{APP.ROUTES.PRICING}}">Pricing</a>
                -->
                {% for item in site.data.navigation.others_header %}
                  <a class="header__link" href="{{ item.url }}">{{ item.page }}</a>
                {% endfor %}
          </nav>
          <!-- ngIf: !$parent.isSignedIn --><nav class="header__menu-right ng-scope" ng-if="!$parent.isSignedIn">
              <a class="header__link" href="/login">Login</a>
              <a class="header__signup o-btn o-btn--sm o-primary-btn" href="/request-demo">Schedule a Demo</a>
          </nav><!-- end ngIf: !$parent.isSignedIn -->
      </div>

      <a class="header__mobile-signup header__signup o-btn o-btn--sm o-primary-btn" href="/request-demo">Schedule a Demo</a>
      <button class="header__hamburger" ng-click="toggleMenu($event)">
          <!-- ngIf: !isMenuOpen --><svg class="ng-scope" width="16px" height="12px" ng-if="!isMenuOpen">
              <use xlink:href="#icon-hamburger"></use>
          </svg><!-- end ngIf: !isMenuOpen -->
          <!-- ngIf: isMenuOpen -->
      </button>
  </div>
</header>
  </div>


<script>

function setHeader(){
  var $header = $('.header');
      var scrollValue = $(window).scrollTop();
      var holdTimeout = null;

      if (scrollValue >= 100) {
        $header.addClass('affix');
        if ($('.index-masthead, .product-masthead').length) {
          $('.header__logo').addClass('header__logo--dark');
          $('.header__signup')
            .removeClass('o-secondary-outline-btn')
            .addClass('o-primary-btn');
        }
        holdTimeout = null;
      } else {
        if ($header.hasClass('affix')) {
          $header.addClass('hold');
          holdTimeout = setTimeout(function() {
            $header.removeClass('affix hold');
            if ($('.index-masthead, .product-masthead').length) {
              $('.header__logo').removeClass('header__logo--dark');
              $('.header__signup')
                .removeClass('o-primary-btn')
                .addClass('o-secondary-outline-btn');
            }
          }, 300);
        }
      }
}

    // sticky header
    $(window).on('scroll', function(event) {
      setHeader();
    });
    $(function(){
      setHeader();
    });
</script>