<head>
  {% if site.gtm-code %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ site.gtm-code }}');</script>
  <!-- End Google Tag Manager -->
  {% endif %}
  <!-- Drift -->
  <script>
    // Insert Drift Snippet
  </script>
  <!-- End Drift -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Load Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400i,600i" rel="stylesheet">
  <link href="{{ "/css/common.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet">
  <!--<link href="{{ "/css/sharedstyle.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet">
  <link href="{{ "/css/sharedmodal.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet">
  <link href="{{ "/css/frontendstyle.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet">
  <link href="{{ "/css/webappstyle.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet">-->
  <!--<link href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet">-->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
  <link rel="apple-touch-icon" href="/assets/yordex-logo.png"/>
  <link rel='shortcut icon' href='/assets/images/favicon.ico?v=1' rel='shortcut icon' type='image/x-icon'>
  {% seo %}
  <meta name="msvalidate.01" content="83A7D378677C4F4102B969411E92A925" />
</head>
