{% if page.page_type != 'product' %}
<div class="section--gradient">
    <div class="header-wrap header-wrap--no-margin">
{% endif %}

{% if page.page_type == 'product' %}
<div class="product-masthead">
    <div class="product-header-wrap">
{% endif %}

{% assign my_page_url = page.url | remove: '/' %}

<header class="header" ng-class="{'menu-open': isMenuOpen}">
  <div class="header__container o-container-8 o-gutter">
      <a class="header__logo header__logo--dark" href="/">
        {% include svgs/logo.svg inverse=false %}
      </a>
      <div class="header__menu">
          <nav class="header__menu-left">
              <!--
                <a class="header__link" ui-sref-active="header__link--active" ui-sref="{{APP.ROUTES.PRICING}}">Pricing</a>
                -->
                {% for item in site.data.navigation.others_header %}
                  <a class="header__link" href="{{ item.url }}">{{ item.page }}</a>
                {% endfor %}
          </nav>
          <!-- ngIf: !$parent.isSignedIn --><nav class="header__menu-right ng-scope" ng-if="!$parent.isSignedIn">
              <a class="header__link" href="/login">Login</a>
              <a class="header__signup o-btn o-btn--sm o-primary-btn" href="/request-demo">Schedule a Demo</a>
          </nav><!-- end ngIf: !$parent.isSignedIn -->
      </div>

      <a class="header__mobile-signup header__signup o-btn o-btn--sm o-primary-btn" href="/request-demo">Schedule a Demo</a>
      <button class="header__hamburger" ng-click="toggleMenu($event)">
          <!-- ngIf: !isMenuOpen --><svg class="ng-scope" width="16px" height="12px" ng-if="!isMenuOpen">
              <use xlink:href="#icon-hamburger"></use>
          </svg><!-- end ngIf: !isMenuOpen -->
          <!-- ngIf: isMenuOpen -->
      </button>
  </div>
</header>
  </div>