{% assign post = include.post %}
{% assign is_excerpt = include.is_excerpt %}
{% assign show_author = include.show_author %}

<article class="article">
  {% if is_excerpt %}
    {% if post.topic %}
    {% assign post_topic_downcase = post.topic | downcase %}
      <div class="article__category">
      {% for site_topic in site.topics %}
        {% assign site_topic_title = site_topic.title | downcase %}
        {% if site_topic_title == post_topic_downcase %}
          <a href="{{ site_topic.url }}" class="article__category__link{% if site_topic.color %} bg--{{site_topic.color}}{% endif %}">{{ site_topic.title }}</a>
        {% endif %}
      {% endfor %}
      </div>
    {% endif %}

    <h2 class="article__title o-h3 o-tc-dark"><a href="{{ post.url }}">{{ post.title }}</a></h2>

    {% if post.author or post.date %}
    <section class="article__meta">
      {% assign author = site.authors | where: 'title', post.author | first %}
      {% if author and show_author %}
      <div class="article__author">
        <img class="article__author__image" src='{{ author.image }}' alt="{{ author.title }}" title="{{ author.title }}" />
        {{ author.title }}
      </div>
      {% endif %}
      {% if post.date %}
      <div class="article__date">
        on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.date_format }}</time>
      </div>
      {% endif %}
    </section>
    {% endif %}
  {% endif %}

  <section class="article__content">
    {% if is_excerpt %}
      {{ post.excerpt | markdownify }}
    {% else %}
      <div class="article__lead">
        {{ post.excerpt | markdownify }}
      </div>
      {{ post.content | remove: post.excerpt | markdownify }}
    {% endif %}
    {% if is_excerpt and post.excerpt != post.content %}
      <a href="{{ post.url }}" class="">Read more</a>
    {% endif %}
  </section>
</article>

