.o-flex {
  display: flex;
  flex-wrap: wrap;
}

.o-flex-row-reverse {
  flex-direction: row-reverse;
}

.o-justify-content-space-between {
  justify-content: space-between;
}

.o-flex-v-center {
  display: flex;
  align-items: center;
}

.o-flex-h-center {
  display: flex;
  justify-content: center;
}
