.btn {

  display: inline-block;
  transition: all .25s ease-in-out;
  border-radius: 3px;

  // button sizes
  &--xs {
    line-height: 20px;
    height: 40px;
    padding: 10px rhythm(1);
  }

  &--s {
    height: 48px;
    padding: rhythm(1.5) rhythm(3);
  }

  &--m {
    height: 56px;
    padding: rhythm(2) rhythm(4);
  }

  &--l {
    height: 64px;
    padding: rhythm(2.5) rhythm(4);
  }

  // button themes
  &--green {
    transition: background .35s ease-in-out;
    color: $color-white;
    background: $color-primary;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      background: darken($color-primary, 5%);
    }
  }

  &--blue {
    transition: background .35s ease-in-out;
    color: $color-white;
    background: $color-secondary;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      background: darken($color-secondary, 5%);
    }
  }

  &--default {
    color: $color-secondary;
    border: solid 1px $color-secondary;
    background: $color-white;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      border-color: darken($color-secondary, 5%);
      background: $background-light-2;
    }
  }
}


// Button objects
// ------------------------------------ //

.o-btn {
  $_height: 56px;
  $_line-height: 24px;

  font-size: ms(0);
  line-height: $_line-height;
  display: inline-block;
  height: $_height;
  padding-top: ($_height - $_line-height) / 2 + 2;
  padding-bottom: ($_height - $_line-height) / 2 - 2;
  cursor: pointer;
  transition: 0.25s;
  text-align: center;
  border-radius: 3px;

  &--lg {
    $_height: 64px;
    $_line-height: 28px;

    font-size: ms(1);
    font-weight: 500;
    line-height: $_line-height;
    height: $_height;
    padding-top: ($_height - $_line-height) / 2 + 2;
    padding-bottom: ($_height - $_line-height) / 2 - 2;
  }

  &--sm {
    $_height: 48px;
    $_line-height: 24px;

    height: $_height;
    padding-top: ($_height - $_line-height) / 2 + 1;
    padding-bottom: ($_height - $_line-height) / 2 - 1;
  }
}

.o-primary-btn {
  color: $color-white;
  background: $color-primary;

  &:hover,
  &:focus {
    background: darken($color-primary, 3%);
  }
}

.o-secondary-btn {
  color: $color-white;
  background: $color-secondary;

  &:hover,
  &:focus {
    background: darken($color-secondary, 3%);
  }
}

.o-secondary-outline-btn {
  color: $color-white;
  border: 1px solid $color-secondary;
  background: transparent;

  &:hover,
  &:focus {
    border-color: darken($color-secondary, 3%);
    background: transparentize($color-secondary, .97);
  }
}

.o-tertiary-btn {
  color: $color-white;
  background: $color-tertiary;

  &:hover,
  &:focus {
    background: darken($color-tertiary, 2%);
  }
}


// Responsive styles
// ------------------------------------ //

@include responsive(tablet) {
  .o-btn {
    &--lg {
      $_height: 56px;
      $_line-height: 24px;

      font-size: ms(1);
      line-height: $_line-height;
      height: $_height;
      padding-top: ($_height - $_line-height) / 2 + 2;
      padding-bottom: ($_height - $_line-height) / 2 - 2;
    }
  }
}


// New Button Objects
// ------------------------------------ //

.o-link-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
