.o-mb-1 {
  margin-bottom: rhythm(1);
}

.o-mb-2 {
  margin-bottom: rhythm(2);
}

.o-mb-3 {
  margin-bottom: rhythm(3);
}

.o-mb-4 {
  margin-bottom: rhythm(4);
}

.o-mb-5 {
  margin-bottom: rhythm(5);
}
