// auth page layout
.auth {
  height: 100%;

  &-content {
    min-height: calc(100% - #{rhythm(7)});
    padding-bottom: rhythm(7);
  }

  &-copyright {
    font-size: ms(-1);
    padding: rhythm(2);
    text-align: center;
    color: $border-color-dark;

    > a {
      margin-left: rhythm(1.5);
      color: $text-color-light-5 !important;

      &.o-underline-link::before {
        background: $border-color-default;
      }

      &.o-underline-link::after {
        background: $border-color-dark;
      }
    }
  }

  &-header {
    padding-top: rhythm(10);
    padding-bottom: rhythm(4);
    text-align: center;

    &__logo{
      margin-left: -26px;

        &-svg {
        fill: $logo-color;
      }
    }
  }

  &-goto-login {
    margin-top: rhythm(1.5);
    margin-bottom: rhythm(4);
  }
}

.google-login {
  margin-top: rhythm(2);

  .abcRioButton {
    width: 70%;
    margin: 0 auto;
  }
}

// auth form styles
.auth-form {
  $height: rhythm(7);
  $padding: rhythm(2) rhythm(3);

  width: 100%;
  max-width: 420px;
  margin: rhythm(6.5) auto 0;

  &__label {
    display: block;
    margin-bottom: rhythm(2);

    &-text {
      display: block;
      margin-bottom: rhythm(.5);
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: $height;
    padding: $padding !important;
  }

  &__error-message {
    display: none;
  }

  &__submit {
    font-size: 18px;
    display: block;
    width: 100%;
    height: rhythm(7);
    transition: opacity .3s ease-in-out, background .3s ease-in-out;

    &[disabled] {
      cursor: not-allowed;
      opacity: .3;
    }
  }

  &__terms {
    font-size: ms(-1);
    line-height: 24px;
    margin-top: rhythm(3);
    color: $text-color-dark-3;
  }

  &__forgot-password {
    font-size: ms(-1);
    line-height: 24px;
    margin-top: rhythm(5);
    text-align: center;
  }
}

//++
.auth-form__label.hidden-text {
  .auth-form__label-text {
    display: none;
  }
}

// error box
.auth-form__error-box {
  margin-bottom: rhythm(2.5);
  padding: rhythm(2) rhythm(3);
  color: $text-color-error;
  border-radius: 3px;
  background: $background-error-soft;
  box-shadow: inset 0 0 0 1px $border-color-error;
}

// email validation
.auth-form__email {
  position: relative;

  > .auth-form__input {
    padding-right: 50px;
  }

  &::after {
    position: absolute;
    top: 15px;
    right: rhythm(2);
    content: '';

    @extend .svg-check-dims;
  }
}

.auth-form__label {
  &.success {
    .auth-form__email::after {
      @extend .svg-check;
    }

    .auth-form__input {
      background: $background-light-1;
      box-shadow: inset 0 0 0 1px $border-color-light;
    }

    .auth-form__error-message {
      display: none;
    }
  }

  &.error {
    .auth-form__email::after {
      @extend .svg-error;
    }

    .auth-form__input {
      box-shadow: inset 0 0 0 1px transparentize($text-color-error, .6);
    }

    .auth-form__error-message {
      font-size: ms(-1);
      display: block;
      margin-top: rhythm(.5);
      color: $text-color-error;
    }
  }
}

// password validation
.auth-form__password {
  $width: 90px;

  position: relative;

  > .auth-form__input {
    padding-right: $width + rhythm(2) !important;
  }

  &-toggle {
    font-size: 14px !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $width;
    padding-right: 10px !important;
    padding-left: 30px !important;
    text-transform: capitalize;
    color: $color-secondary;
    background: transparent;

    &::before {
      position: absolute;
      top: 50%;
      left: 13px;
      margin-right: 5px;
      content: '';
      vertical-align: -2px;
      transform: translateY(-55%);

      @extend .svg-show;
      @extend .svg-show-dims;
    }

    &::after {
      position: absolute;
      top: rhythm(1);
      bottom: rhythm(1);
      left: 0;
      width: 1px;
      content: '';
      background: $border-color-light;
    }

    &.active::before {
      @extend .svg-hide;
    }
  }
}

// validation
.validation {
  font-size: ms(-1);
  line-height: 20px;
  margin: 0 0 rhythm(2);
  padding: 0;
  list-style: none;

  &__entry {
    position: relative;
    margin-bottom: rhythm(.5);
    padding-left: 20px;
    color: $text-color-dark-3;
    transition: all .25s ease-in-out 0s;

    &::before {
      position: absolute;
      top: 4px;
      left: 0;
      content: '';

      @extend .svg-tick--gray;
      @extend .svg-tick--gray-dims;
    }

    &.valid {
      color: $text-color-light-5;

      &::before {
        @extend .svg-tick--green;
      }
    }
  }
}

// responsive
@include slicer(3) {
  .google-login {
    .abcRioButton {
      width: 100%;
    }
  }
}

// responsive
@include slicer(3) {
  .auth-header {
    padding-top: rhythm(10);
    padding-bottom: rhythm(5);
  }

  .auth-copyright > .underline-link {
    margin: 0 .25em;
  }
}

