---
layout: common
---

<div class="about-mission">
    <div class="logo-shape">
      <svg class="logo-shape--default" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1142 1471" width="1142" heigh="1471"><path fill-rule="evenodd" d="M419.923 68.405L0 326.331v221.935l519.748-318.465c137.587-81.167 314.78-34.25 396.084 106.527 81.917 142.035 35.728 326.31-102.47 410.486-.347.22-813.362 502.25-813.362 502.25V1471l917.797-565.764c218.837-141.543 289.981-436.946 157.466-665.723C940.827 6.423 657.913-68.75 419.923 68.405z"/></svg>
    </div>
    <div class="o-container-6 o-gutter">
      <div class="about-hgroup">
        <h2 class="o-h2 about-hgroup__heading about-hgroup__heading--large">Our Story and Mission</h2>
        <p class="about-hgroup__subheading">The idea for Yordex was born in early 2017 from from a simple question: why are businesses still struggling with invoices and manual processes while consumers can buy online with one click?</p>
      </div>
      <div class="about-mission-content">
        <p>We believe the problem is the lack of a single, trusted "source of truth" for B2B orders. Buyer, seller and third parties all have their own copies of "the truth" (the order and its status) which are often incomplete and different. This leads to lots of extra work, uncertainty and errors. From this the idea of the Smart PO was born. Smart PO's provide a single source of the truth to help our customers save a lot of time, better manage cash and improve collaboration with suppliers. Smart PO's can also monitor and complete themselves allowing our customers to go from PO to final payment with the least amount of effort.</p>
      </div>
    </div>
  </div>
  
  <div class="about-team">
    <div class="logo-shape">
      <svg class="logo-shape--accent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1142 1471" width="1142" heigh="1471"><path fill-rule="evenodd" d="M419.923 68.405L0 326.331v221.935l519.748-318.465c137.587-81.167 314.78-34.25 396.084 106.527 81.917 142.035 35.728 326.31-102.47 410.486-.347.22-813.362 502.25-813.362 502.25V1471l917.797-565.764c218.837-141.543 289.981-436.946 157.466-665.723C940.827 6.423 657.913-68.75 419.923 68.405z"/></svg>
    </div>
    <div class="o-container-8 o-gutter">
      <div class="about-hgroup">
        <h3 class="o-h3 about-hgroup__heading">Meet our team</h3>
        <p class="about-hgroup__subheading">Commited to to help our customers lower costs, better manage cash and improve collaboration with suppliers.</p>
      </div>
      <ul class="about-team-members">
        <li class="team-member">
          <img class="team-member__avatar" alt="" src="/assets/images/erik@2x.jpg"/>
          <h4 class="team-member__name">Erik De Kroon</h4>
          <p class="team-member__position">CEO and Co-Founder</p>
          <button type="button" class="team-member__read-bio o-link-btn o-underline-link" data-toggle="modal" data-target="#bio-modal">Read Bio</button>
        </li>
        <li class="team-member">
          <img class="team-member__avatar" alt="" src="/assets/images/hardeep@2x.jpg"/>
          <h4 class="team-member__name">Hardeep Nagi</h4>
          <p class="team-member__position">CTO and Co-Founder</p>
          <button type="button" class="team-member__read-bio o-link-btn o-underline-link" data-toggle="modal" data-target="#bio-modal">Read Bio</button>
        </li>
        <li class="team-member">
          <img class="team-member__avatar" alt="" src="/assets/images/martin@2x.jpg"/>
          <h4 class="team-member__name">Martin Crowell</h4>
          <p class="team-member__position">Head of Operation</p>
          <button type="button" class="team-member__read-bio o-link-btn o-underline-link" data-toggle="modal" data-target="#bio-modal">Read Bio</button>
        </li>
        <li class="team-member">
          <img class="team-member__avatar" alt="" src="/assets/images/ray@2x.jpg"/>
          <h4 class="team-member__name">Ray de Silva</h4>
          <p class="team-member__position">CCO</p>
          <button type="button" class="team-member__read-bio o-link-btn o-underline-link" data-toggle="modal" data-target="#bio-modal">Read Bio</button>
        </li>
        <li class="team-member">
          <img class="team-member__avatar" alt="" src="/assets/images/david@2x.jpg"/>
          <h4 class="team-member__name">David Capilla</h4>
          <p class="team-member__position">Lead UI Developer</p>
          <button type="button" class="team-member__read-bio o-link-btn o-underline-link" data-toggle="modal" data-target="#bio-modal">Read Bio</button>
        </li>
        <li class="team-member">
          <img class="team-member__avatar" alt="" src="/assets/images/harpreet@2x.jpg"/>
          <h4 class="team-member__name">Harpreet Singh</h4>
          <p class="team-member__position">UI Developer</p>
          <button type="button" class="team-member__read-bio o-link-btn o-underline-link" data-toggle="modal" data-target="#bio-modal">Read Bio</button>
        </li>
        <li class="team-member">
          <img class="team-member__avatar" alt="" src="/assets/images/ollie@2x.jpg"/>
          <h4 class="team-member__name">Ollie McFarlane</h4>
          <p class="team-member__position">UI Developer</p>
          <button type="button" class="team-member__read-bio o-link-btn o-underline-link" data-toggle="modal" data-target="#bio-modal">Read Bio</button>
        </li>
        <li class="team-member">
          <img class="team-member__avatar" alt="" src="/assets/images/tibor@2x.jpg"/>
          <h4 class="team-member__name">Tibor Veres</h4>
          <p class="team-member__position">QA Engineer</p>
          <button type="button" class="team-member__read-bio o-link-btn o-underline-link" data-toggle="modal" data-target="#bio-modal">Read Bio</button>
        </li>
        <li class="team-member">
          <img class="team-member__avatar" alt="" src="/assets/images/valery@2x.jpg"/>
          <h4 class="team-member__name">Valery Maitre de Kroon </h4>
          <p class="team-member__position">Office Manager</p>
          <button type="button" class="team-member__read-bio o-link-btn o-underline-link" data-toggle="modal" data-target="#bio-modal">Read Bio</button>
        </li>
        <li class="team-member">
          <img class="team-member__avatar" alt="" src="/assets/images/mukta@2x.jpg"/>
          <h4 class="team-member__name">Mukta Khanna</h4>
          <p class="team-member__position">Operations</p>
          <button type="button" class="team-member__read-bio o-link-btn o-underline-link" data-toggle="modal" data-target="#bio-modal">Read Bio</button>
        </li>
      </ul>
      </div>
  </div>
  
  <div class="about-values">
    <div class="o-container-6 o-gutter">
      <div class="about-hgroup">
        <h3 class="o-h3 about-hgroup__heading">What we believe in</h3>
        <p class="about-hgroup__subheading">We want to build a company that people love to work with and for.</p>
      </div>
      <ul class="about-values-list">
        <li class="about-value">
          <i class="about-value__icon">
            <svg width="48px" height="46px">
              <use xlink:href="#icon-trust"/>
            </svg>
          </i>
          <h4 class="o-h4 about-value__heading">Service-centric</h4>
          <p class="about-value__body">We don't sell technology, we sell a service. Our mission is to help companies collaborate better with their suppliers, whatever it takes. Even inside our company everything we do is a service that people offer to other people.</p>
        </li>
        <li class="about-value">
          <i class="about-value__icon">
            <svg width="48px" height="48px">
              <use xlink:href="#icon-decentralized"/>
            </svg>
          </i>
          <h4 class="o-h4 about-value__heading">Decentralised</h4>
          <p class="about-value__body">We not only believe in decentralised systems (Internet, Blockchain), we also believe in flat, self-managed organisations. In our opinion they provide the best way to stay service-centric and enjoy our work. Of course it is easy for a startup to be flat and self-managed, and we have worked in enough big companies to understand the lure of centralisation, but we are determined to make self-management work at Yordex no matter how big we get.</p>
        </li>
        <li class="about-value">
          <i class="about-value__icon">
            <svg width="48px" height="48px">
              <use xlink:href="#icon-global"/>
            </svg>
          </i>
          <h4 class="o-h4 about-value__heading">Global</h4>
          <p class="about-value__body">B2B trade is global and so are we. So far we have 7 nationalities on a team of 9 people and counting. We love our home town London, but we look forward to the days we can be local in lots of places.</p>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="cta-banner">
    <div class="cta-banner__container o-container-8">
      <div class="cta-banner__content o-gutter">
        <h3 class="cta-banner__heading o-h3 o-mb-1">Start simplifying procurement today</h3>
        <p class="cta-banner__description">Reduce invoice processing costs, improve visibility and working capital.</p>
      </div>
      <div class="cta-banner__btn-group o-gutter">
        <a href="/request-demo" class="cta-banner__btn o-btn o-btn--lg o-primary-btn">Schedule a Demo</a>
      </div>
    </div>
  </div>
  
  <div id="bio-modal" class="bio-modal modal fade" tabindex="-1" role="dialog">
    <div class="bio-modal__dialog" role="document">
      <button type="button" class="bio-modal__close" data-dismiss="modal" aria-label="Close">
        <svg width="16px" height="16px">
          <use xlink:href="#icon-modal-close" />
        </svg>
      </button>
  
      <div class="members-slider">
        <div class="member">
          <img class="member__avatar" alt="" src="/assets/images/erik@2x.jpg"/>
          <div class="member__bio">
            <strong class="member__name">Erik De Kroon</strong>
            <p class="member__position">CEO and Co-Founder</p>
            <p class="member__details">Erik has a long background in building new businesses, both within larger companies and in startups. In his last job Erik was responsible for launching Worldpay Online Payments which he and the team took from idea to fast-growing business. Erik has an MSc in Computer Science an MBA from INSEAD.</p>
            <nav class="member__social">
              <a class="o-underline-link" target="_blank" href="https://angel.co/erik-de-kroon">Angellist</a>
              <span class="member__social-divider"></span>
              <a class="o-underline-link" target="_blank" href="https://www.linkedin.com/in/erik-de-kroon-76b379/">LinkedIn</a>
            </nav>
          </div>
        </div>
        <div class="member">
          <img class="member__avatar" alt="" src="/assets/images/hardeep@2x.jpg"/>
          <div class="member__bio">
            <strong class="member__name">Hardeep Nagi</strong>
            <p class="member__position">CTO and Co-Founder</p>
            <p class="member__details">Hardeep is an experienced hands on architect, specialising in designing and implementing highly transactional and secure applications. Hardeep has delivered several multimillion production software working as an architect that codes whenever needed.</p>
            <nav class="member__social">
              <a class="o-underline-link" target="_blank" href="https://angel.co/hardeep-nagi-1">Angellist</a>
              <span class="member__social-divider"></span>
              <a class="o-underline-link" target="_blank" href="https://www.linkedin.com/in/hardeepnagi/">LinkedIn</a>
            </nav>
          </div>
        </div>
        <div class="member">
          <img class="member__avatar" alt="" src="/assets/images/martin@2x.jpg"/>
          <div class="member__bio">
            <strong class="member__name">Martin Crowell</strong>
            <p class="member__position">Head of Operation</p>
            <p class="member__details">Martin is an experienced technology leader and engineer with 30 years in IT, the last 22 within FinTech &amp; financial services. He's a champion of the DevOps movement and highly skilled in the delivery and management of solutions across the full lifecycle.</p>
            <nav class="member__social">
              <a class="o-underline-link" target="_blank" href="https://angel.co/martin-crowell">Angellist</a>
              <span class="member__social-divider"></span>
              <a class="o-underline-link" target="_blank" href="https://www.linkedin.com/in/martin-crowell/">LinkedIn</a>
            </nav>
          </div>
        </div>
        <div class="member">
          <img class="member__avatar" alt="" src="/assets/images/ray@2x.jpg"/>
          <div class="member__bio">
            <strong class="member__name">Ray de Silva</strong>
            <p class="member__position">CCO</p>
            <p class="member__details">Ray has an extensive B2B background within larger corporates and start-ups, specialising in creating new propositions, launching new products and leading partnerships to grow revenue. Prior to his startup work, Ray held commercial roles at Vodafone Group and the GSM Association. Ray has an NDA from Unitec.</p>
            <nav class="member__social">
              <a class="o-underline-link" target="_blank" href="https://angel.co/ray-de-silva">Angellist</a>
              <span class="member__social-divider"></span>
              <a class="o-underline-link" target="_blank" href="https://www.linkedin.com/in/raydesilva/">LinkedIn</a>
            </nav>
          </div>
        </div>
        <div class="member">
          <img class="member__avatar" alt="" src="/assets/images/david@2x.jpg"/>
          <div class="member__bio">
            <strong class="member__name">David Capilla</strong>
            <p class="member__position">Lead UI Developer</p>
            <p class="member__details">David is a Software Engineer with international experience and web development specialization. With solid educational background in engineering, he’s been working in all kind of projects using different technologies and frameworks, mainly within the financial services industry.</p>
            <nav class="member__social">
              <a class="o-underline-link" target="_blank" href="https://www.linkedin.com/in/davidcapilla/">LinkedIn</a>
            </nav>
          </div>
        </div>
        <div class="member">
          <img class="member__avatar" alt="" src="/assets/images/harpreet@2x.jpg"/>
          <div class="member__bio">
            <strong class="member__name">Harpreet Singh</strong>
            <p class="member__position">UI Developer</p>
            <p class="member__details">Harpreet is a Javascript Developer with over 7 years experience. Post graduate in Computer Applications, he's been working on Web and Mobile projects and had worked with Larsen and Toubro, Phillips Healthcare, HCL.</p>
            <nav class="member__social">
              <a class="o-underline-link" target="_blank" href="https://www.linkedin.com/in/harpreet-matharu/">LinkedIn</a>
            </nav>
          </div>
        </div>
        <div class="member">
          <img class="member__avatar" alt="" src="/assets/images/ollie@2x.jpg"/>
          <div class="member__bio">
            <strong class="member__name">Ollie McFarlane</strong>
            <p class="member__position">UI Developer</p>
            <p class="member__details">Ollie is an experienced UI developer focused on delivering great user experience. He specialises in integrating back end systems with the latest front end frameworks.</p>
            <nav class="member__social">
              <a class="o-underline-link" target="_blank" href="https://www.linkedin.com/in/olivermcfarlane/">LinkedIn</a>
            </nav>
          </div>
        </div>
        <div class="member">
          <img class="member__avatar" alt="" src="/assets/images/tibor@2x.jpg"/>
          <div class="member__bio">
            <strong class="member__name">Tibor Veres</strong>
            <p class="member__position">QA Engineer</p>
            <p class="member__details">Tibor has more than 10 years of Software Testing experience in various sectors. He has successfully implemented and built up test frameworks from scratch for both functional and non-functional testing, for companies like Worldpay, Nokia and Reed Business Information.</p>
            <nav class="member__social">
              <a class="o-underline-link" target="_blank" href="https://www.linkedin.com/in/verestibor/">LinkedIn</a>
            </nav>
          </div>
        </div>
        <div class="member">
          <img class="member__avatar" alt="" src="/assets/images/valery@2x.jpg"/>
          <div class="member__bio">
            <strong class="member__name">Valery Maitre de Kroon</strong>
            <p class="member__position">Office Manager</p>
            <p class="member__details">Valery has 15 years experience in finance, accounting and HR for small- and medium sized businesses and credit analysis and risk management for banks. She recently obtained ICA Certificate in compliance, KYC and CDD</p>
            <nav class="member__social">
              <a class="o-underline-link" target="_blank" href="https://www.linkedin.com/in/valery-de-kroon-ab1a85/">LinkedIn</a>
            </nav>
          </div>
        </div>
        <div class="member">
          <img class="member__avatar" alt="" src="/assets/images/mukta@2x.jpg"/>
          <div class="member__bio">
            <strong class="member__name">Mukta Khanna</strong>
            <p class="member__position">Operations</p>
            <p class="member__details">Mukta is an experienced Customer Success Manager. In her previous roles Mukta was responsible for  maximum adoption of  the product and identify opportunities working directly with customers to maintain high value relationship. Mukta holds Bachelor of Engineering in Electronics and Telecommunications.</p>
            <nav class="member__social">
              <a class="o-underline-link" href="">Angellist</a>
              <span class="member__social-divider"></span>
              <a class="o-underline-link" href="">LinkedIn</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    $('#bio-modal').on('show.bs.modal', function (e) {
      var targetIndex = $(e.relatedTarget).parent('.team-member').index();
      $('.members-slider').slick({
        dots: true,
        infinite: true,
        fade: true,
        slidesToShow: 1,
        slidesToScroll: 1
      });
      $('.members-slider').slick('slickGoTo', targetIndex);
    });
    $('#bio-modal').on('hide.bs.modal', function (e) {
      $('.members-slider').slick('unslick');
    });
  </script>