---
layout: common
---

<div class="about-mission">
    <div class="logo-shape">
      <svg class="logo-shape--default" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1142 1471" width="1142" heigh="1471"><path fill-rule="evenodd" d="M419.923 68.405L0 326.331v221.935l519.748-318.465c137.587-81.167 314.78-34.25 396.084 106.527 81.917 142.035 35.728 326.31-102.47 410.486-.347.22-813.362 502.25-813.362 502.25V1471l917.797-565.764c218.837-141.543 289.981-436.946 157.466-665.723C940.827 6.423 657.913-68.75 419.923 68.405z"/></svg>
    </div>
    <div class="o-container-6 o-gutter">
      <div class="about-hgroup">
        <h2 class="o-h2 about-hgroup__heading about-hgroup__heading--large">{{page.header.title}}</h2>
        <p class="about-hgroup__subheading">{{page.header.body}}</p>
      </div>
      <div class="about-mission-content">
        <p>{{page.story_mission_description}}</p>
      </div>
    </div>
  </div>
  
  <div class="about-team">
    <div class="logo-shape">
      <svg class="logo-shape--accent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1142 1471" width="1142" heigh="1471"><path fill-rule="evenodd" d="M419.923 68.405L0 326.331v221.935l519.748-318.465c137.587-81.167 314.78-34.25 396.084 106.527 81.917 142.035 35.728 326.31-102.47 410.486-.347.22-813.362 502.25-813.362 502.25V1471l917.797-565.764c218.837-141.543 289.981-436.946 157.466-665.723C940.827 6.423 657.913-68.75 419.923 68.405z"/></svg>
    </div>
    <div class="o-container-8 o-gutter">
      <div class="about-hgroup">
        <h3 class="o-h3 about-hgroup__heading">{{page.our_team.title}}</h3>
        <p class="about-hgroup__subheading">{{page.our_team.description}}</p>
      </div>
      <ul class="about-team-members">
        {% for member in page.our_team.members %} 
            <li class="team-member">
                <img class="team-member__avatar" alt="" src="{{member.profile_pic_url_image}}"/>
                <h4 class="team-member__name">{{member.full_name}}</h4>
                <p class="team-member__position">{{member.designation}}</p>
                <button type="button" class="team-member__read-bio o-link-btn o-underline-link" data-toggle="modal" data-target="#bio-modal">Read Bio</button>
            </li>
        {% endfor %}
      </ul>
      </div>
  </div>
  
  <div class="about-values">
    <div class="o-container-6 o-gutter">
      <div class="about-hgroup">
        <h3 class="o-h3 about-hgroup__heading">{{page.what_we_believe_section.title}}</h3>
        <p class="about-hgroup__subheading">{{page.what_we_believe_section.description}}</p>
      </div>
      <ul class="about-values-list">
            {% for believe_in_step in page.what_we_believe_section.believe_in_steps %}
                <li class="about-value">
                    <i class="about-value__icon">
                      <img src="{{believe_in_step.svg_icon_image}}" width="48px" height="46px" />
                    </i>
                    <h4 class="o-h4 about-value__heading">{{believe_in_step.title}}</h4>
                    <p class="about-value__body">{{believe_in_step.description}}</p>
                </li>
            {% endfor %}
      </ul>
    </div>
  </div>
  
  <div class="cta-banner">
    <div class="cta-banner__container o-container-8">
      <div class="cta-banner__content o-gutter">
        <h3 class="cta-banner__heading o-h3 o-mb-1">{{page.start_simplify_section.title}}</h3>
        <p class="cta-banner__description">{{page.start_simplify_section.description}}</p>
      </div>
      <div class="cta-banner__btn-group o-gutter">
        <a href="{{page.start_simplify_section.button.url | default: site.start_simplify_section.button.url}}" class="cta-banner__btn o-btn o-btn--lg o-primary-btn">{{page.start_simplify_section.button.copy | default: site.start_simplify_section.button.copy}}</a>
      </div>
    </div>
  </div>
  
  <div id="bio-modal" class="bio-modal modal fade" tabindex="-1" role="dialog">
    <div class="bio-modal__dialog" role="document">
      <button type="button" class="bio-modal__close" data-dismiss="modal" aria-label="Close">
        <svg width="16px" height="16px">
                <svg id="icon-modal-close" viewBox="0 0 16 16" width="100%" height="100%">
                    <path fill="#BCC2CC" fill-rule="evenodd" d="M9.414,8 L15.707,1.707 C15.888,1.526 16,1.276 16,1 C16,0.447 15.553,0 15,0 C14.724,0 14.474,0.112 14.293,0.293 L8,6.586 L1.707,0.293 C1.526,0.112 1.276,0 1,0 C0.447,0 0,0.447 0,1 C0,1.276 0.112,1.526 0.293,1.707 L6.586,8 L0.293,14.293 C0.112,14.474 0,14.724 0,15 C0,15.552 0.447,16 1,16 C1.276,16 1.526,15.888 1.707,15.707 L8,9.414 L14.293,15.707 C14.474,15.888 14.724,16 15,16 C15.553,16 16,15.552 16,15 C16,14.724 15.888,14.474 15.707,14.293 L9.414,8 Z"></path>
                </svg>
        </svg>
      </button>
      <div class="members-slider">
            {% for member in page.our_team.members %} 
                <div class="member">
                    <img class="member__avatar" alt="" src="{{member.profile_pic_url_image}}"/>
                    <div class="member__bio">
                      <strong class="member__name">{{member.full_name}}</strong>
                      <p class="member__position">{{member.designation}}}</p>
                      <p class="member__details">{{member.bio_description}}</p>
                      <nav class="member__social">
                            {% if member.angel_list_url %}
                                <a class="o-underline-link" target="_blank" href="{{member.angel_list_url}}">Angellist</a>
                            {% endif %}
                        <span class="member__social-divider"></span>
                            {% if member.linked_in_url %}
                                <a class="o-underline-link" target="_blank" href="{{member.linked_in_url}}">LinkedIn</a>
                            {% endif %}
                      </nav>
                    </div>
                </div>
            {% endfor %}
      </div>
    </div>
  </div>
  
  <script>
    $('#bio-modal').on('show.bs.modal', function (e) {
      var targetIndex = $(e.relatedTarget).parent('.team-member').index();
      $('.members-slider').slick({
        dots: true,
        infinite: true,
        fade: true,
        slidesToShow: 1,
        slidesToScroll: 1
      });
      $('.members-slider').slick('slickGoTo', targetIndex);
    });
    $('#bio-modal').on('hide.bs.modal', function (e) {
      $('.members-slider').slick('unslick');
    });
  </script>