---
layout: common
---

      <article id="faq-article" class="faq-article content-section container-4">
        <p>
          <a href="/faqs" class="o-underline-link">Back to FAQ list</a>
        </p>
        <h1 class="heading heading--l">{{page.header.title}}</h1>
        <span>{{content}}</span>
      </article>
      <section class="cta o-gutter">
            <div class="cta__hgroup">
              <h2 class="cta__heading o-h2">{{site.start_simplify_section.title}}</h2>
              <p class="o-lg-text">{{site.start_simplify_section.description}}</p>
            </div>
            <div class="o-flex-h-center">
              <a href="{{site.start_simplify_section.button.url}}" class="cta__btn o-btn o-btn--lg o-primary-btn">{{site.start_simplify_section.button.copy}}</a>
            </div>
          </section>