---
layout: default
---

<section class="section-blog">
  <div class="o-container-6 o-gutter">
    <ul class="blog__topics c-tab-bar">
      <li class="c-tab-bar__item c-tab-bar__item--active">Most recent</li>
      {% for blog_topic in site.topics %}
        <li class="c-tab-bar__item"><a href="{{ blog_topic.url }}" class="c-tab-bar__link">{{ blog_topic.title }}</a></li>
      {% endfor %}
    </ul>

    {% for post in site.posts limit:site.per_page %}
      {% include partials/post.html post=post is_excerpt=true show_author=true %}
    {% endfor %}

    {% if site.posts.size > site.per_page %}
      <div class="blog__button">
        <a href="/archive" class="o-btn o-btn--sm o-secondary-outline-btn">Older posts</a>
      </div>
    {% endif %}
  </div>
  </div>
</section>

<section class="c-cta o-gutter">
  <div class="c-cta__hgroup">
    <h2 class="c-cta__heading o-h2">{{ page.cta.title | default:site.cta.title }}</h2>
    <p class="o-lg-text">{{ page.cta.subtitle | default:site.cta.subtitle }}</p>
  </div>
  <div class="o-flex-h-center">
    <a class="o-btn o-btn--lg o-primary-btn" href="{{ page.cta.button.url | default:site.cta.button.url }}">{{ page.cta.button.copy | default:site.cta.button.copy }}</a>
  </div>
</section>
