---
layout: common
---

<div class="product-hero">
        <div class="o-container-6 o-gutter">
          <h1 class="product-hero__heading o-h2">{{page.header.title}}</h1>
        </div>
      </div>
    </div>
    
    <div class="product-nav-wrap">
      <nav class="product-nav">
        <div class="product-nav__links o-container-8 o-gutter">
            {% for section_nav in page.product_sections_nav %}
                <a class="product-nav__link {% if section_nav.is_active %} active {% endif %}" href="#{{section_nav.section_nav_id}}"><span>{{section_nav.section_nav_title}}</span></a>
            {% endfor %}
        </div>
      </nav>
    </div>
    
    <section id="{{page.supplier_portal_section.section_nav_id}}" class="product-section">
      <div class="o-container-8 o-gutter">
        <div class="section-hgroup section-hgroup--centered">
          <svg class="section-hgroup__icon" width="48px" height="48px">
            <!--<use xlink:href="#icon-smart-po"/>-->
            {{page.supplier_portal_section.svg_icon}}
          </svg>
          <h3 class="section-hgroup__heading o-h3">{{page.supplier_portal_section.title}}</h3>
          <p class="section-hgroup__subheading o-lg-text">{{page.supplier_portal_section.sub_heading}}</p>
         <p class="section-hgroup__text">{{page.supplier_portal_section.description}}</p>
        </div>
    
        <div class="product-tabs">
          <ul class="nav nav-tabs" role="tablist">
              {% for tab in page.supplier_portal_section.tabs %}
                <li role="presentation" class="{% if tab.is_active %} active {% endif %}">
                    <a class="nav-tabs__link" href="#{{tab.tab_id}}" aria-controls="{{tab.tab_id}}" role="tab">{{tab.title}}</a>
                  </li>
              {% endfor %}
          </ul>
        </div>
    
        <div class="tab-content">
            {% for tab in page.supplier_portal_section.tabs %}
              <div class="tab-pane o-row {% if tab.is_active %} active {% endif %}" id="{{tab.tab_id}}" role="tabpanel">
                <div class="o-flex-v-center o-offset-1 o-grid-3 o-gutter">
                  <div>
                    <h3 class="product-tabs-heading">{{tab.title}}</h3>
                    <p class="product-tabs-content">{{tab.description | markdownify}}</p>
                  </div>
                </div>
                <div class="product-tabs-image o-grid-4 o-gutter">
                  <img id="img-po-sharing" alt="{{tab.image_alt}}" src="{{tab.image_url}}"/>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </section>
    
    <section id="{{page.invoice_central_section.section_nav_id}}" class="product-section">
      <div class="o-container-8 o-gutter">
        <div class="section-hgroup section-hgroup--centered">
          <svg class="section-hgroup__icon" width="48px" height="48px">
            <!--<use xlink:href="#icon-invoice"/>-->
            {{page.invoice_central_section.svg_icon}}
          </svg>
          <h3 class="section-hgroup__heading o-h3">{{page.invoice_central_section.title}}</h3>
          <p class="section-hgroup__subheading o-lg-text">{{page.invoice_central_section.sub_heading}}</p>
        </div>
    
        <div class="product-invoice-tabs o-flex o-justify-content-space-between">
          <div class="product-grid-3">
            <div class="product-invoice-tabs__content tab-content">
                {% for tab in page.invoice_central_section.tabs %}
                <div class="tab-pane {% if tab.is_active %} active {% endif %}" id="{{tab.tab_id}}" role="tabpanel">
                    <div>
                      <img alt="{{tab.image_alt}}" src="{{tab.image_url}}" />
                    </div>
                  </div>
                {% endfor %}
            </div>
          </div>
          <div class="product-grid-5">
            <ul class="nav nav-tabs">
                {% for tab in page.invoice_central_section.tabs %}
                <li class="{% if tab.is_active %} active {% endif %}">
                    <a class="product-invoice-tab nav-tabs__item" href="#{{tab.tab_id}}" aria-controls="{{tab.tab_id}}" role="tab">
                      <h5 class="product-invoice-tab__heading o-h5">{{tab.title}}</h5>
                      <p class="product-invoice-tab__content">{{tab.description}}</p>
                    </a>
                  </li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>
    
    <section id="{{page.po_approvals_section.section_nav_id}}" class="product-section">
      <div class="o-container-8 o-gutter o-flex o-justify-content-space-between">
        <div class="product-grid-3 o-flex-v-center">
          <div class="section-hgroup">
            <svg class="section-hgroup__icon" width="48px" height="48px">
              <!--<use xlink:href="#icon-approval"/>-->
              {{page.po_approvals_section.svg_icon}}
            </svg>
            <h3 class="section-hgroup__heading o-h3">{{page.po_approvals_section.title}}</h3>
            <p class="section-hgroup__subheading o-lg-text">{{page.po_approvals_section.sub_heading}}</p>
            <p class="section-hgroup__text">{{page.po_approvals_section.description}}</p>
          </div>
        </div>
        <div class="product-grid-5">
          <img alt="{{page.po_approvals_section.image_alt}}" src="{{page.po_approvals_section.image_url}}" />
        </div>
      </div>
    </section>
    
    <section id="{{page.expense_management_section.section_nav_id}}" class="product-section">
      <div class="o-container-8 o-gutter o-flex o-flex-row-reverse o-justify-content-space-between">
        <div class="product-grid-3 o-flex-v-center">
          <div class="section-hgroup">
            <svg class="section-hgroup__icon" width="48px" height="48px">
              <!--<use xlink:href="#icon-cards-check"/>-->
              {{page.expense_management_section.svg_icon}}
            </svg>
            <h3 class="section-hgroup__heading o-h3">{{page.expense_management_section.title}}</h3>
            <p class="section-hgroup__subheading o-lg-text">{{page.expense_management_section.description}}</p>
          </div>
        </div>
        <div class="product-grid-5">
          <img alt="{{page.expense_management_section.image_alt}}" src="{{page.expense_management_section.image_url}}" />
        </div>
      </div>
    </section>
    
    <section id="{{page.payments_section.section_nav_id}}" class="product-section">
      <div class="o-container-8 o-gutter">
        <div class="section-hgroup section-hgroup--centered">
          <h3 class="section-hgroup__heading o-h3">{{page.payments_section.title}}</h3>
          <p class="section-hgroup__subheading o-lg-text">{{page.payments_section.description}}</p>
        </div>
        <div class="product-features o-row">
            {% for payment_type in page.payments_section.payment_types %}
            <div class="product-features__item o-gutter">
                <div class="n-feature n-feature--column">
                  <i class="n-feature__icon">
                    <svg width="48px" height="48px">
                      <!--<use xlink:href="#icon-auto-pay"/>-->
                      {{payment_type.svg_icon}}
                    </svg>
                  </i>
                  <h4 class="n-feature__heading o-h4">{{payment_type.title}}</h4>
                  <p class="n-feature__content">{{payment_type.description}}</p>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </section>
    
    <section id="{{page.supplier_discounts_section.section_nav_id}}" class="product-section">
      <div class="o-container-8 o-gutter">
        <div class="section-hgroup section-hgroup--centered">
          <svg class="section-hgroup__icon" width="48px" height="48px">
            <!--<use xlink:href="#icon-commission"/>-->
            {{page.supplier_discounts_section.svg_icon}}
          </svg>
          <h3 class="section-hgroup__heading o-h3">{{page.supplier_discounts_section.title}}</h3>
          <p class="section-hgroup__subheading o-lg-text">{{page.supplier_discounts_section.sub_heading}}</p>
          <p class="section-hgroup__text">{{page.supplier_discounts_section.description}}</p>
        </div>
    
        <div class="product-tabs">
          <ul class="nav nav-tabs">
              {% for tab in page.supplier_discounts_section.tabs %}
                <li class="{% if tab.is_active %} active {% endif %}">
                    <a class="nav-tabs__link" href="#{{tab.tab_id}}" aria-controls="{{tab.tab_id}}" role="tab">{{tab.title}}</a>
                  </li>
              {% endfor %}
          </ul>
        </div>
    
        <div class="tab-content">
          {% for tab in page.supplier_discounts_section.tabs %}
            <div class="tab-pane o-row active" id="{{tab.tab_id}}" role="tabpanel">
              <div class="o-flex-v-center o-offset-1 o-grid-3 o-gutter">
                <div>
                  <h4 class="product-tabs-heading">{{tab.title}}</h4>
                  <p class="product-tabs-content">{{tab.description}}</p>
                </div>
              </div>
              <div class="o-grid-4 o-gutter">
                <img alt="{{tab.image_alt}}" src="{{tab.image_url}}" />
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    
    <section id="{{page.reporting_section.section_nav_id}}" class="product-section">
      <div class="o-container-8 o-gutter">
        <div class="section-hgroup section-hgroup--centered">
          <svg class="section-hgroup__icon" width="48px" height="48px">
            <!--<use xlink:href="#icon-reporting"/>-->
            {{page.reporting_section.svg_icon}}
          </svg>
          <h3 class="section-hgroup__heading o-h3">{{page.reporting_section.title}}</h3>
          <p class="section-hgroup__subheading o-lg-text">{{page.reporting_section.sub_heading}}</p>
        </div>
    
        <div class="reporting-features o-row">
            {% for report_type in page.reporting_section.report_types %}
              <div class="o-grid-3 o-gutter o-offset-1">
                <div class="n-feature n-feature--column">
                  <h4 class="n-feature__heading o-h4">{{report_type.title}}</h4>
                  <p class="n-feature__content">{{report_type.description}}</p>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </section>
    
    <section id="{{page.premium_support_section.section_nav_id}}" class="product-section">
      <div class="o-container-8 o-gutter">
        <div class="section-hgroup section-hgroup--centered">
          <svg class="section-hgroup__icon" width="42px" height="48px">
            <!--<use xlink:href="#icon-premium-support"/>-->
            {{page.premium_support_section.svg_icon}}
          </svg>
          <h3 class="section-hgroup__heading o-h3">{{page.premium_support_section.title}}</h3>
        </div>
        <div class="o-row">
          <div class="o-grid-4 o-gutter primary-support-content">
            <h4 class="product-tabs-heading">{{page.premium_support_section.supplier_management.title}}</h4>
            <p>{{page.premium_support_section.supplier_management.description | markdownify}}</p>
            <ul>
                {% for supplier_management_service in page.premium_support_section.supplier_management.supplier_management_services %}
                  <li>{{supplier_management_service}}</li>
                {% endfor %}
            </ul>
            <a class="primary-support-content__btn o-btn o-secondary-outline-btn" href="{{page.premium_support_section.supplier_management.how_to_get_started_button.url}}">{{page.premium_support_section.supplier_management.how_to_get_started_button.title}}</a>
          </div>
          <div class="o-grid-4 o-gutter">
            <img class="primary-support-img" alt="{{page.premium_support_section.supplier_management.image_alt}}" src="{{page.premium_support_section.supplier_management.image_url}}" />
          </div>
        </div>
        <div class="primary-support-features o-row">
          {% for premium_support_section in page.premium_support_section.premium_support_sections %}
          <div class="o-grid-4 o-gutter">
            <div class="n-feature n-feature--column">
              <h4 class="n-feature__heading o-h4">{{premium_support_section.title}}</h4>
              <p class="n-feature__content">{{premium_support_section.description | markdownify}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    
    <section class="cta o-gutter">
        <div class="cta__hgroup">
            <h2 class="cta__heading o-h2">{{page.ready_to_get_section.title}}</h2>
            <p class="o-lg-text">{{page.ready_to_get_section.description}}</p>
        </div>
        <form class="ng-pristine ng-valid ng-valid-email cta__form">
            <input class="cta__input ng-pristine ng-valid ng-empty ng-valid-email ng-touched" type="email" ng-model="email" placeholder="Your Work Email"/>
            <button class="cta__submit o-lg-text o-primary-btn" type="submit">{{page.ready_to_get_section.schedule_a_demo_button.title}}</button>
        </form>
    </section>
    
    <script>
      $('.nav-tabs__link').on('click', function(e) {
        e.preventDefault();
        $(this).tab('show');
      });
    
      $('.nav-tabs__item')
        .on('mouseenter', function() {
          $(this).tab('show');
        }).on('click', function(e) {
          e.preventDefault();
        });
    
      $('a[href*="#"]')
        .not('[href="#"]')
        .not('[href="#0"]')
        .not('[role="tab"]')
        .click(function(event) {
          if (
            location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
            &&
            location.hostname == this.hostname
          ) {
            var target = $(this.hash);
            var $self = $(this);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
              event.preventDefault();
              $('html, body').animate({
                scrollTop: target.offset().top - 176 // affix header and affix nav height
              }, 1000, function() {
                $self.addClass('active').siblings().removeClass('active');
              });
            }
          }
        });
    
      var calcSectionsOffestTop = function() {
        var result = [];
        $productSections.each(function(_, item) {
          result.push($(item).offset().top);
        });
        return result;
      };
      var $productNav = $('.product-nav');
      var $productNavLinks = $('.product-nav__link');
      var productNavPositionTop = $productNav.offset().top - 96; // affix header height
      var $productSections = $('.product-section');
      var productSectionsOffestList = calcSectionsOffestTop();
    
      $(window).on('scroll', function(event) {
        var scrollValue = $(window).scrollTop();
        if (scrollValue >= productNavPositionTop) {
          $($productNav).addClass('affix');
        } else {
          $($productNav).removeClass('affix');
        }
    
        for(var i = productSectionsOffestList.length; i >= 0; i--) {
          if ((scrollValue + 177) >= productSectionsOffestList[i]) {
            $productNavLinks.eq(i).addClass('active').siblings().removeClass('active');
            return false;
          }
        }
      });
    
      $(window).on('resize', function() {
        productSectionsOffestList = calcSectionsOffestTop();
      });
    </script>
    
