---
layout: common
---

<div class="product-hero">
        <div class="o-container-6 o-gutter">
          <h1 class="product-hero__heading o-h2">Improve visibility, optimise working capital and deliver winning buyer-supplier relationships.</h1>
        </div>
      </div>
    </div>
    
    <div class="product-nav-wrap">
      <nav class="product-nav">
        <div class="product-nav__links o-container-8 o-gutter">
          <a class="product-nav__link active" href="#smart-pos"><span>Supplier Portal</span></a>
          <a class="product-nav__link" href="#invoice-central"><span>Invoice Central</span></a>
          <a class="product-nav__link" href="#po-approvals"><span>PO Approvals</span></a>
          <a class="product-nav__link" href="#expense-management"><span>Expense Management</span></a>
          <a class="product-nav__link" href="#payments"><span>Payments</span></a>
          <a class="product-nav__link" href="#supplier-discounts"><span>Supplier Discounts</span></a>
          <a class="product-nav__link" href="#reporting"><span>Reporting</span></a>
          <a class="product-nav__link" href="#premium-support"><span>Premium Support</span></a>
        </div>
      </nav>
    </div>
    
    <section id="smart-pos" class="product-section">
      <div class="o-container-8 o-gutter">
        <div class="section-hgroup section-hgroup--centered">
          <svg class="section-hgroup__icon" width="48px" height="48px">
            <use xlink:href="#icon-smart-po"/>
          </svg>
          <h3 class="section-hgroup__heading o-h3">Supplier Portal</h3>
          <p class="section-hgroup__subheading o-lg-text">Put the procure-to-pay process on 'self-drive' using our Supplier Portal and Smart POs.</p>
         <p class="section-hgroup__text">The Supplier Portal makes Smart POs easily accessible for both suppliers and employees. The Smart PO pro-actively guides your suppliers and employees through the correct process every time. Once sent, we will make sure orders are completed until final payment with as little involvement from you as possible.</p>
        </div>
    
        <div class="product-tabs">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a class="nav-tabs__link" href="#pane-po-sharing" aria-controls="pane-po-sharing" role="tab">Shared Orders</a>
            </li>
            <li role="presentation">
              <a class="nav-tabs__link" href="#pane-order-tracking" aria-controls="pane-order-tracking" role="tab">Order Tracking</a>
            </li>
            <li role="presentation">
              <a class="nav-tabs__link" href="#pane-smart-terms" aria-controls="pane-smart-terms" role="tab">Smart Terms</a>
            </li>
            <li role="presentation">
              <a class="nav-tabs__link" href="#pane-automated-alerting" aria-controls="pane-automated-alerting" role="tab">Automated Alerting</a>
            </li>
            <li role="presentation">
              <a class="nav-tabs__link" href="#pane-messaging" aria-controls="pane-messaging" role="tab">Messaging</a>
            </li>
            <li role="presentation">
              <a class="nav-tabs__link" href="#pane-adaptive-format" aria-controls="pane-adaptive-format" role="tab">Adaptive Format</a>
            </li>
            <li role="presentation">
              <a class="nav-tabs__link" href="#pane-custom-forms" aria-controls="pane-custom-forms" role="tab">Custom Forms</a>
            </li>
          </ul>
        </div>
    
        <div class="tab-content">
          <div class="tab-pane active o-row" id="pane-po-sharing" role="tabpanel">
            <div class="o-flex-v-center o-offset-1 o-grid-3 o-gutter">
              <div>
                <h3 class="product-tabs-heading">Shared Orders</h3>
                <p class="product-tabs-content">Smart PO’s are available online or by API from requisition to final payment so there is always a “single version of the truth” between you and your supplier.</p>
                <p class="product-tabs-content">So why does that matter? By having a single version of the truth, we can automatically verify invoices and other documents and send them back to the supplier if they are not correct. We can even generate the invoices ourselves.</p>
              </div>
            </div>
            <div class="product-tabs-image o-grid-4 o-gutter">
              <img id="img-po-sharing" alt="Screenshot of PO Sharing" src="/assets/images/webapp-PO-sharing@2x.png"/>
            </div>
          </div>
          <div class="tab-pane o-row" id="pane-order-tracking" role="tabpanel">
            <div class="o-flex-v-center o-offset-1 o-grid-3 o-gutter">
              <div>
                <h3 class="product-tabs-heading">Order Tracking</h3>
                <p class="product-tabs-content">Smart PO’s don’t stop when the PO is sent. They stay alive until the final payment is confirmed so all parties always get a real-time view of the delivery, invoice approval and payment status.</p>
              </div>
            </div>
            <div class="product-tabs-image o-grid-4 o-gutter">
              <img id="img-order-tracking" alt="Screenshot of Order Tracking" src="/assets/images/webapp-order-tracking@2x.png"/>
            </div>
          </div>
          <div class="tab-pane o-row" id="pane-smart-terms" role="tabpanel">
            <div class="o-flex-v-center o-offset-1 o-grid-3 o-gutter">
              <div>
                <h3 class="product-tabs-heading">Smart Terms</h3>
                <p class="product-tabs-content">Smart Terms not only describe the terms, but also make sure those terms are adhered to. Using Smart Terms, we know who needs to do what when so we can guide employees and suppliers through the correct process every time. This saves you time chasing people and gives you confidence processes are adhered to without requiring constant training.</p>
              </div>
            </div>
            <div class="product-tabs-image o-grid-4 o-gutter">
              <img id="img-smart-terms" alt="Screenshot of Smart Terms" src="/assets/images/webapp-smart-terms@2x.png"/>
            </div>
          </div>
          <div class="tab-pane o-row" id="pane-automated-alerting" role="tabpanel">
            <div class="o-flex-v-center o-offset-1 o-grid-3 o-gutter">
              <div>
                <h3 class="product-tabs-heading">Automated Alerting</h3>
                <p class="product-tabs-content">The Smart Terms also keep track of due dates for every process step. When actions do not happen on time, we will automatically alert the responsible people to remind them. This helps make sure orders never get stuck.</p>
              </div>
            </div>
            <div class="product-tabs-image o-grid-4 o-gutter">
              <img id="img-phone-alerts" alt="Screenshot of Automated Alerts" src="/assets/images/phone-automated-alerts@2x.png"/>
            </div>
          </div>
          <div class="tab-pane o-row" id="pane-messaging" role="tabpanel">
            <div class="o-flex-v-center o-offset-1 o-grid-3 o-gutter">
              <div>
                <h3 class="product-tabs-heading">Messaging</h3>
                <p class="product-tabs-content">Our PO’s are smart, but they can’t resolve everything. Some issues can only be resolved by people. Every order has its own messaging channel allowing you, your supplier and anyone else in your company to resolve those issues. Centralised communications means you won’t have to trawl through lots of emails to get a status update.</p>
              </div>
            </div>
            <div class="product-tabs-image o-grid-4 o-gutter">
              <img id="img-messaging" alt="Screenshot of Messaging" src="/assets/images/webapp-messaging@2x.png"/>
            </div>
          </div>
          <div class="tab-pane o-row" id="pane-adaptive-format" role="tabpanel">
            <div class="o-flex-v-center o-offset-1 o-grid-3 o-gutter">
              <div>
                <h3 class="product-tabs-heading">Adaptive Format</h3>
                <p class="product-tabs-content">Different suppliers may want to receive the PO in different formats. Yordex will translate the PO to the format required by your suppliers, meaning less change for everyone involved.</p>
              </div>
            </div>
            <div class="product-tabs-image o-grid-4 o-gutter">
            <img id="img-adaptive-format" alt="Screenshot of Adaptive Format" src="/assets/images/webapp-adaptive-format@2x.png"/>
            </div>
          </div>
          <div class="tab-pane o-row" id="pane-custom-forms" role="tabpanel">
            <div class="o-flex-v-center o-offset-1 o-grid-3 o-gutter">
              <div>
                <h3 class="product-tabs-heading">Custom Forms</h3>
                <p class="product-tabs-content">Custom Forms allow you to add additional data fields to our PO or supplier forms. This will help you keep your business running smoothly by making sure we always capture the data you need.</p>
              </div>
            </div>
            <div class="product-tabs-image o-grid-4 o-gutter">
              <img id="img-custom-forms" alt="" src="/assets/images/webapp-custom-forms@2x.png"/>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="invoice-central" class="product-section">
      <div class="o-container-8 o-gutter">
        <div class="section-hgroup section-hgroup--centered">
          <svg class="section-hgroup__icon" width="48px" height="48px">
            <use xlink:href="#icon-invoice"/>
          </svg>
          <h3 class="section-hgroup__heading o-h3">Invoice Central</h3>
          <p class="section-hgroup__subheading o-lg-text">With a Supplier Portal in place, invoicing becomes a breeze. Yordex supports a range of invoicing options to suit every supplier.</p>
        </div>
    
        <div class="product-invoice-tabs o-flex o-justify-content-space-between">
          <div class="product-grid-3">
            <div class="product-invoice-tabs__content tab-content">
              <div class="tab-pane active" id="pane-supplier-self-matching" role="tabpanel">
                <div>
                  <img alt="" src="/assets/images/webapp-upload-invoice@2x.png"/>
                </div>
              </div>
              <div class="tab-pane" id="pane-self-billing" role="tabpanel">
                <div>
                  <img alt="Screenshot Self Billing" src="/assets/images/webapp-self-billing@2x.png"/>
                </div>
              </div>
              <div class="tab-pane" id="pane-invoice-scanning" role="tabpanel">
                <div>
                  <img alt="Screenshot Invoice Scanning" src="/assets/images/webapp-invoice-scanning@2x.png"/>
                </div>
              </div>
            </div>
          </div>
          <div class="product-grid-5">
            <ul class="nav nav-tabs">
              <li class="active">
                <a class="product-invoice-tab nav-tabs__item" href="#pane-supplier-self-matching" aria-controls="pane-supplier-self-matching" role="tab">
                  <h5 class="product-invoice-tab__heading o-h5">Supplier Self Matching</h5>
                  <p class="product-invoice-tab__content">With this option your supplier uploads the invoice on the portal and matches it with the PO. They are asked to confirm the amount and payment due date matches with what we have on file. If not, they either change the invoice, or request a change to the order. If they request a change, the responsible employees have to approve that first. This avoids you ever getting invoices that don't match.</p>
                </a>
              </li>
              <li>
                <a class="product-invoice-tab nav-tabs__item" href="#pane-self-billing" aria-controls="pane-self-billing" role="tab">
                  <h5 class="product-invoice-tab__heading o-h5">Self Billing</h5>
                  <p class="product-invoice-tab__content">In this option, we generate the invoice based on the original order and a confirmation of what was received. Unlike other self-billing systems, no special agreement is required for tax purposes. Because the supplier has an account on our portal, we still generate the invoice on behalf of the supplier.</p>
                </a>
              </li>
              <li>
                <a class="product-invoice-tab nav-tabs__item" href="#pane-invoice-scanning" aria-controls="pane-invoice-scanning" role="tab">
                  <h5 class="product-invoice-tab__heading o-h5">Invoice Scanning</h5>
                  <p class="product-invoice-tab__content">The easiest option for your suppliers is just continue to send you the invoice as they do today. Yordex will scan it and match it with your PO’s.</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
    <section id="po-approvals" class="product-section">
      <div class="o-container-8 o-gutter o-flex o-justify-content-space-between">
        <div class="product-grid-3 o-flex-v-center">
          <div class="section-hgroup">
            <svg class="section-hgroup__icon" width="48px" height="48px">
              <use xlink:href="#icon-approval"/>
            </svg>
            <h3 class="section-hgroup__heading o-h3">PO Approvals</h3>
            <p class="section-hgroup__subheading o-lg-text">When using this module, Yordex will route the PO to all required people for approval.</p>
            <p class="section-hgroup__text">Routing is based on our flexible PO approval rules which you choose based on the PO amount, spend category or cost centres. Approval of the PO can be done anytime, anywhere by email or from our mobile app.</p>
          </div>
        </div>
        <div class="product-grid-5">
          <img alt="" src="/assets/images/webapp-approval-flow@2x.png"/>
        </div>
      </div>
    </section>
    
    <section id="expense-management" class="product-section">
      <div class="o-container-8 o-gutter o-flex o-flex-row-reverse o-justify-content-space-between">
        <div class="product-grid-3 o-flex-v-center">
          <div class="section-hgroup">
            <svg class="section-hgroup__icon" width="48px" height="48px">
              <use xlink:href="#icon-cards-check"/>
            </svg>
            <h3 class="section-hgroup__heading o-h3">Expense Management</h3>
            <p class="section-hgroup__subheading o-lg-text">Yordex manages PO’s and expenses enabling you to manage all spend in one place. For employees this means they can use the same easy process for all spend.</p>
          </div>
        </div>
        <div class="product-grid-5">
          <img alt="" src="/assets/images/webapp-expense@2x.png"/>
        </div>
      </div>
    </section>
    
    <section id="payments" class="product-section">
      <div class="o-container-8 o-gutter">
        <div class="section-hgroup section-hgroup--centered">
          <h3 class="section-hgroup__heading o-h3">Payments</h3>
          <p class="section-hgroup__subheading o-lg-text">With Smart POs in place, automating payments becomes a breeze. Yordex offers a range of payment options depending on your needs.</p>
        </div>
        <div class="product-features o-row">
          <div class="product-features__item o-gutter">
            <div class="n-feature n-feature--column">
              <i class="n-feature__icon">
                <svg width="48px" height="48px">
                  <use xlink:href="#icon-auto-pay"/>
                </svg>
              </i>
              <h4 class="n-feature__heading o-h4">Auto Pay</h4>
              <p class="n-feature__content">With Auto Pay, payment details are put automatically onto your bank feed. Payments are then made using your existing payment provider and process.</p>
            </div>
          </div>
          <div class="product-features__item o-gutter">
            <div class="n-feature n-feature--column">
              <i class="n-feature__icon">
                <svg width="48px" height="48px">
                  <use xlink:href="#icon-fx-pay"/>
                </svg>
              </i>
              <h4 class="n-feature__heading o-h4">FX Pay</h4>
              <p class="n-feature__content">Through our partnership with Transferwise, Yordex FX Payments lowers your payments costs and makes sure the money arrives with your suppliers faster.</p>
            </div>
          </div>
          <div class="product-features__item o-gutter">
            <div class="n-feature n-feature--column">
              <i class="n-feature__icon">
                <svg width="48px" height="48px">
                  <use xlink:href="#icon-mass-pay"/>
                </svg>
              </i>
              <h4 class="n-feature__heading o-h4">Mass Pay</h4>
              <p class="n-feature__content">With Yordex Mass Pay you make one periodic payment to Yordex and we will take care of paying your individual suppliers, saving time and lowering payment costs.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="supplier-discounts" class="product-section">
      <div class="o-container-8 o-gutter">
        <div class="section-hgroup section-hgroup--centered">
          <svg class="section-hgroup__icon" width="48px" height="48px">
            <use xlink:href="#icon-commission"/>
          </svg>
          <h3 class="section-hgroup__heading o-h3">Supplier Discounts</h3>
          <p class="section-hgroup__subheading o-lg-text">Improving use of early payment discounts and supply chain finance can lead to 0.2% to 0.5% savings on working capital. That is £200K to £500K savings on every £100M spend straight to your bottom line.</p>
          <p class="section-hgroup__text">We automate the process of maximising supplier discounts through a number of options.</p>
        </div>
    
        <div class="product-tabs">
          <ul class="nav nav-tabs">
            <li class="active">
              <a class="nav-tabs__link" href="#pane-early-payment-discounts" aria-controls="pane-early-payment-discounts" role="tab">Early Payment Discounts</a>
            </li>
            <li>
              <a class="nav-tabs__link" href="#pane-dynamic-discounting" aria-controls="pane-dynamic-discounting" role="tab">Dynamic Discounting</a>
            </li>
            <li>
              <a class="nav-tabs__link active" href="#pane-supply-chain-finance" aria-controls="pane-supply-chain-finance" role="tab">Supply Chain Finance</a>
            </li>
          </ul>
        </div>
    
        <div class="tab-content">
          <div class="tab-pane o-row active" id="pane-early-payment-discounts" role="tabpanel">
            <div class="o-flex-v-center o-offset-1 o-grid-3 o-gutter">
              <div>
                <h4 class="product-tabs-heading">Early Payment Discounts</h4>
                <p class="product-tabs-content">Smart PO’s can keep track of early payment discounts and help you make sure you capture those discounts wherever possible.</p>
              </div>
            </div>
            <div class="o-grid-4 o-gutter">
              <img alt="" src="/assets/images/box-dynamic-discount@2x.png"/>
            </div>
          </div>
          <div class="tab-pane o-row" id="pane-dynamic-discounting" role="tabpanel">
            <div class="o-flex-v-center o-offset-1 o-grid-3 o-gutter">
              <div>
                <h4 class="product-tabs-heading">Dynamic Discounting</h4>
                <p class="product-tabs-content">Dynamic Discounting is also called “discounting for the 21st century”. Your supplier can offer discounts only when they need it while you can negotiate better payment terms by offering this option.</p>
              </div>
            </div>
            <div class="o-grid-4 o-gutter">
              <img alt="" src="/assets/images/webapp-dynamic-discount@2x.png"/>
            </div>
          </div>
          <div class="tab-pane o-row" id="pane-supply-chain-finance" role="tabpanel">
            <div class="o-grid-4 o-align-center">
              <div>
                <h4 class="product-tabs-heading">Supply Chain Finance</h4>
                <p class="product-tabs-content o-flex-h-center">Extend Dynamic Discounting with a third party Supply Chain Finance provider. Take advantage of supplier discounts even if you don’t have the cash on hand to pay early. Bring your own Supply Chain Finance provider or use one of our partners.</p>
              </div>
            </div>
            <div class="o-grid-4 o-gutter">
    
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="reporting" class="product-section">
      <div class="o-container-8 o-gutter">
        <div class="section-hgroup section-hgroup--centered">
          <svg class="section-hgroup__icon" width="48px" height="48px">
            <use xlink:href="#icon-reporting"/>
          </svg>
          <h3 class="section-hgroup__heading o-h3">Reporting</h3>
          <p class="section-hgroup__subheading o-lg-text">Smart PO’s will generate a wealth of data that you can (and should!) use to better forecast your cash requirements and to help you identify opportunities to lower costs and improve cash flow and margins.</p>
        </div>
    
        <div class="reporting-features o-row">
          <div class="o-grid-3 o-gutter o-offset-1">
            <div class="n-feature n-feature--column">
              <h4 class="n-feature__heading o-h4">Spend Reports</h4>
              <p class="n-feature__content">You can download all data as a CSV file or you can define your own reports. These reports will help you be on top of all spend all the time.</p>
            </div>
          </div>
          <div class="o-grid-3 o-gutter">
            <div class="n-feature n-feature--column">
              <h4 class="n-feature__heading o-h4">Spend Analytics</h4>
              <p class="n-feature__content">Analytics service that allows you to use wealth of data generated by Smart PO’s to continuously identify new opportunities to improve process efficiency, cash flow or payment terms.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="premium-support" class="product-section">
      <div class="o-container-8 o-gutter">
        <div class="section-hgroup section-hgroup--centered">
          <svg class="section-hgroup__icon" width="42px" height="48px">
            <use xlink:href="#icon-premium-support"/>
          </svg>
          <h3 class="section-hgroup__heading o-h3">Premium Support</h3>
        </div>
        <div class="o-row">
          <div class="o-grid-4 o-gutter primary-support-content">
            <h4 class="product-tabs-heading">Supplier Management</h4>
            <p>Your suppliers can use Yordex for free. We will also help them adopt the service through online tutorials and online support.</p>
            <p>Where suppliers need more assistance, the Yordex Supplier Management provides a premium service to help you maximise the benefits you get from Yordex.</p>
            <p>The Supplier Management service includes:</p>
            <ul>
              <li>Premium support to your supplier when they get set up</li>
              <li>Option to automate order and invoice exchange using our API</li>
              <li>Premium support during the live service</li>
            </ul>
            <a class="primary-support-content__btn o-btn o-secondary-outline-btn" ui-sref="{{APP.ROUTES.SUPPLIER}}">How to get started</a>
          </div>
          <div class="o-grid-4 o-gutter">
            <img class="primary-support-img" alt="" src="/assets/images/webapp-premium-support@2x.png"/>
          </div>
        </div>
        <div class="primary-support-features o-row">
          <div class="o-grid-4 o-gutter">
            <div class="n-feature n-feature--column">
              <h4 class="n-feature__heading o-h4">Managed Service</h4>
              <p class="n-feature__content">A fully outsourced invoice management service from Yordex to help you process invoices at lowest possible cost.</p>
              <p><a class="o-underline-link" href="/contact">Contact us for more info</a></p>
            </div>
          </div>
          <div class="o-grid-4 o-gutter">
            <div class="n-feature n-feature--column">
              <h4 class="n-feature__heading o-h4">API Integration Support</h4>
              <p class="n-feature__content">Premium support to integrate Yordex functionality into your systems using our REST API. Automate your procure-to-pay process in a matter of weeks.</p>
              <p><a class="o-underline-link" href="http://docs.yordex.com" target="_blank">Explore our API Documentation</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="cta o-gutter">
      <div class="cta__hgroup">
        <h2 class="cta__heading o-h2">Ready to get your business on Yordex?</h2>
        <p class="o-lg-text">Reduce invoice processing costs, improve visibility and working capital. Schedule your free demo today.</p>
      </div>
      <get-started form-class="cta__form" btn-class="o-primary-btn"></get-started>
    </section>
    
    <script>
      $('.nav-tabs__link').on('click', function(e) {
        e.preventDefault();
        $(this).tab('show');
      });
    
      $('.nav-tabs__item')
        .on('mouseenter', function() {
          $(this).tab('show');
        }).on('click', function(e) {
          e.preventDefault();
        });
    
      $('a[href*="#"]')
        .not('[href="#"]')
        .not('[href="#0"]')
        .not('[role="tab"]')
        .click(function(event) {
          if (
            location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
            &&
            location.hostname == this.hostname
          ) {
            var target = $(this.hash);
            var $self = $(this);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
              event.preventDefault();
              $('html, body').animate({
                scrollTop: target.offset().top - 176 // affix header and affix nav height
              }, 1000, function() {
                $self.addClass('active').siblings().removeClass('active');
              });
            }
          }
        });
    
      var calcSectionsOffestTop = function() {
        var result = [];
        $productSections.each(function(_, item) {
          result.push($(item).offset().top);
        });
        return result;
      };
      var $productNav = $('.product-nav');
      var $productNavLinks = $('.product-nav__link');
      var productNavPositionTop = $productNav.offset().top - 96; // affix header height
      var $productSections = $('.product-section');
      var productSectionsOffestList = calcSectionsOffestTop();
    
      $(window).on('scroll', function(event) {
        var scrollValue = $(window).scrollTop();
        if (scrollValue >= productNavPositionTop) {
          $($productNav).addClass('affix');
        } else {
          $($productNav).removeClass('affix');
        }
    
        for(var i = productSectionsOffestList.length; i >= 0; i--) {
          if ((scrollValue + 177) >= productSectionsOffestList[i]) {
            $productNavLinks.eq(i).addClass('active').siblings().removeClass('active');
            return false;
          }
        }
      });
    
      $(window).on('resize', function() {
        productSectionsOffestList = calcSectionsOffestTop();
      });
    </script>
    
