---
layout: default
---

<div class="supplier-hero">
<div class="supplier-hero__container o-container-8">
      <div class="supplier-hero__left o-gutter">
        <ul class="supplier-steps">
          <li class="supplier-step">
            <span class="supplier-step__icon supplier-step__icon--1">1</span>
            <h4 class="supplier-step__heading o-h4">Create your free account</h4>
            <p>Create your account in less than two minutes. Free for life.</p>
          </li>
          <li class="supplier-step">
            <span class="supplier-step__icon supplier-step__icon--2">2</span>
            <h4 class="supplier-step__heading o-h4">Complete your profile</h4>
            <p>Completing your company profile only takes up to three minutes.</p>
          </li>
          <li class="supplier-step">
            <span class="supplier-step__icon supplier-step__icon--3">3</span>
            <h4 class="supplier-step__heading o-h4">Start receiving orders</h4>
            <p>Once setup, can start using our platform to receive orders and get paid faster.</p>
          </li>
        </ul>
        <a class="supplier-hero__btn o-link-btn o-btn o-primary-btn" ui-sref="{{APP.ROUTES.SIGNUP}}">Create Your Free Account</a>
      </div>
      <div class="supplier-hero__right o-gutter">
        <div class="supplier-hero__video">
          <div class="video">
            <video class="video__body" poster="/assets/images/supplier-video-poster@2x.png">
              <source src="" type="video/mp4" />
            </video>
            <div class="video__play-btn">
              <svg width="15px" height="20px">
                <use xlink:href="#video-play"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
