---
layout: default
---

<div class="supplier-hero">
<div class="supplier-hero__container o-container-8">
      <div class="supplier-hero__left o-gutter">
        <ul class="supplier-steps">
              {% for step_obj in page.steps_to_get_paid %}
                <li class="supplier-step">
                  <span class="supplier-step__icon supplier-step__icon--1">{{step_obj.step_index}}</span>
                  <h4 class="supplier-step__heading o-h4">{{step_obj.step_title}}</h4>
                  <p>{{step_obj.step_description}}</p>
                </li>
              {% endfor %}
        </ul>
        <a class="supplier-hero__btn o-link-btn o-btn o-primary-btn" ui-sref="{{APP.ROUTES.SIGNUP}}">Create Your Free Account</a>
      </div>
      <div class="supplier-hero__right o-gutter">
        <div class="supplier-hero__video">
          <div class="video">
            <video class="video__body" poster="/assets/images/supplier-video-poster@2x.png">
              <source src="" type="video/mp4" />
            </video>
            <div class="video__play-btn">
              <svg width="15px" height="20px">
                <use xlink:href="#video-play"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
