// modal
$modal-mask-background: rgba(255, 255, 255, .85);

$modal-box-border-color: #d3d7d9;
$modal-box-shadow-color: rgba(0, 0, 0, .05);
$modal-box-header-background: #f8fafa;
$modal-box-close-btn-color: #949899;
$modal-box-content-background: #fff;
$modal-box-footer-background: $modal-box-header-background;

$gutter-width: 60px;

// Grids settings
$column-width: 100px;
$gutter-width: 60px;
$total-columns: 8;

// responsive slicer
@mixin slicer($n) {
    $breakpoints: 1420px, 940px, 640px, 480px;
  
    @media only screen and (max-width: nth($breakpoints, $n)) {
      @content;
    }
  }

  // 8px rhythm
@function rhythm($value) {
    @return $value * 8px;
  }
  
  // caculate grid width
  @function calc-grids-width($number) {
    @return $column-width * $number + $gutter-width * ($number - 1);
  }
  
  
body.modal-open {
    overflow: hidden;
  }
  
  .modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    // padding: 0 $gutter-width;
    background: $modal-mask-background;
  
    &.show {
      display: block;
    }
  
    &.modal-large .modal-box {
      margin: rhythm(10) auto;
    }
  
    &__header {
      background:rgba(0,0,0,.8);
      width: 100%;
      height: 40px;
  
      &__close {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: #252526;
        border-right: 1px solid black;
  
        > svg {
          fill: white;
        }
      }
    }
  }
  
  .modal-box {
    width: calc-grids-width(4) + 2px; // 2px for border
    margin: rhythm(15) auto;
    border: 1px solid $modal-box-border-color;
    border-radius: 4px;
    box-shadow: 0 0 15px $modal-box-shadow-color;
  
    &__header {
      padding: rhythm(1.5) 15px rhythm(1.5) 20px;
      border-radius: 4px 4px 0 0;
      background: $modal-box-header-background;
    }
  
    &__close {
      line-height: 32px;
      color: $modal-box-close-btn-color;
    }
  
    &__inner {
      padding: 0 20px;
    }
  
    &__content {
      padding: rhythm(4) 0;
      border-top: 1px solid $modal-box-border-color;
      background: $modal-box-content-background;
    }
  
    &__footer {
      padding: rhythm(1.5) 15px rhythm(1.5) 20px;
      border-radius: 0 0 4px 4px;
      background: $modal-box-footer-background;
    }
  
    &__btn-group {
      text-align: center;
  
      > .btn--secondary {
        min-width: 100px;
        margin-right: $gutter-width / 2;
      }
    }
  }
  
  @include slicer(3) {
    .modal-box {
      width: 100%;
      margin: rhythm(8) auto;
  
      &__content {
        padding: rhythm(2) 0;
      }
  
      &__btn-group {
        margin-left: 0;
      }
    }
  }
  
  @include slicer(4) {
    .modal-box {
      > .btn,
      > .btn-link {
        display: block;
        width: 100%;
      }
    }
  }
  
  @include slicer(4) {
    .modal-box__btn-group {
      > .btn,
      > .btn-link {
        display: block;
        width: 100%;
  
        &:not(:last-child) {
          margin-bottom: rhythm(1);
        }
      }
    }
  }
  
